<p-progressSpinner *ngIf="!company" class="loading" strokeWidth="6" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>

<form *ngIf="company" [formGroup]="dataform">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>Standard</label></div>
            <div class="ui-grid-col-8"><label>shippingcost.csv</label></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <p-inputSwitch onLabel="Yes" offLabel="No" formControlName="shippingStandard" [(ngModel)]="company.shippingStandard"></p-inputSwitch>
            </div>
            <div class="ui-grid-col-4">
                <p-fileUpload mode="basic" name="shippingcost" url="/api/csv" accept="text/csv" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
            </div>
            <div class="ui-grid-col-4">
                <button type="button" (click)="download('shippingcost.csv')" pButton icon="fa-download" class="ui-button-secondary" label="Download"></button>
            </div>
        </div>
        <br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>Express</label></div>
            <div class="ui-grid-col-8"><label>shippingcost_express.csv</label></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <p-inputSwitch onLabel="Yes" offLabel="No" formControlName="shippingExpress" [(ngModel)]="company.shippingExpress"></p-inputSwitch>
            </div>
            <div class="ui-grid-col-4">
                <p-fileUpload mode="basic" name="shippingcost_express" url="/api/csv" accept="text/csv" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
            </div>
            <div class="ui-grid-col-4">
                <button type="button" (click)="download('shippingcost_express.csv')" pButton icon="fa-download" class="ui-button-secondary" label="Download"></button>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <button type="button" pButton icon="fa-save" (click)="saveClick()" class="ui-button-primary" label="Save" [disabled]="!dataform.valid"></button>
            </div>
        </div>
    </div>
</form>
