<div class="container-fluid">
    
    <h2>Home</h2>
    <hr />
    
    <p>Check out the following resources:</p>
    <ul>
        <li><a href="/api/account">Accounts</a></li>
        <li><a href="/api/brand">Brands</a></li>
        <li><a href="/api/category">Categories</a></li>
        <li><a href="/api/attribute">Attributes</a></li>
        <li><a href="/api/attributevalue">AttributeValues</a></li>
        <li><a href="/api/product">Products</a></li>
        <li><a href="/api/productcategory">ProductCategories</a></li>
        <li><a href="/api/productattribute">ProductAttributes</a></li>
        <li><a href="/api/productattributevalue">ProductAttributeValues</a></li>
        <li><a href="/api/article">Articles</a></li>
        <li><a href="/api/articleattributevalue">ArticleAttributeValues</a></li>
        <li><a href="/api/publication">Publications</a></li>
        <li><a href="https://github.com/gerardogrisolini/Webretail">Webretail on GitHub</a></li>
    </ul>
</div>
