<mat-card id="home">
    <mat-card-content>
    
    <h2 style="text-align: center" [translate]="'Featured'"></h2>
    <div *ngIf="featured" class="app-grid-list">    
        <mat-grid-list [cols]="fixedCols" [rowHeight]="fitListHeight" [style.height]="fitListHeight" [style.width]="fitListWidth">
        <mat-grid-tile *ngFor="let product of featured" style="cursor: pointer">
            <img routerLink="/product/{{product.seo.permalink}}" [alt]="product.productName" [src]="product.medias | parseUrl">
            <mat-grid-tile-footer>
            <h3 mat-line><strong>{{product.productName}}</strong></h3>
            <span mat-line>{{product.brand.brandName}}</span>
            <div *ngIf="product.discount.dicountId>0;then discount_content else price_content"></div>
            <ng-template #discount_content>
                <p><span class="percentage">-{{product.discount.discountPercentage}}%</span>
                <del>{{product.price.selling | currencyFormat}}</del>
                <b>{{product.discount.discountPrice | currencyFormat}}</b>
                </p>
            </ng-template>
            <ng-template #price_content>
                <p><span mat-line><b>{{product.price.selling | currencyFormat}}</b></span></p>
            </ng-template>
            </mat-grid-tile-footer>
        </mat-grid-tile>
        </mat-grid-list>
    </div>

    <h2 style="text-align: center" [translate]="'News'"></h2>
    <div *ngIf="news" class="app-grid-list">    
        <mat-grid-list [cols]="fixedCols" [rowHeight]="fitListHeight" [style.height]="fitListHeight" [style.width]="fitListWidth">
        <mat-grid-tile *ngFor="let product of news" style="cursor: pointer">
            <img routerLink="/product/{{product.seo.permalink}}" [alt]="product.productName" [src]="product.medias | parseUrl">
            <mat-grid-tile-footer>
            <h3 mat-line><strong>{{product.productName}}</strong></h3>
            <span mat-line>{{product.brand.brandName}}</span>
            <div *ngIf="product.discount.dicountId>0;then discount_content else price_content"></div>
            <ng-template #discount_content>
                <p><span class="percentage">-{{product.discount.discountPercentage}}%</span>
                <del>{{product.price.selling | currencyFormat}}</del>
                <b>{{product.discount.discountPrice | currencyFormat}}</b>
                </p>
            </ng-template>
            <ng-template #price_content>
                <p><span mat-line><b>{{product.price.selling | currencyFormat}}</b></span></p>
            </ng-template>
            </mat-grid-tile-footer>
        </mat-grid-tile>
        </mat-grid-list>
    </div>

    <h2 style="text-align: center" [translate]="'Brands'"></h2>
    <div *ngIf="brands">    
        <div class="brand" *ngFor="let b of brands">
            <img routerLink="/brand/{{b.seo.permalink}}" [src]="[b.media] | parseUrl">
            <br/><span>{{b.brandName}}</span>
        </div>
    </div>

    <span class="done">
        <a mat-fab routerLink="/basket" style="float: right"><mat-icon>shopping_cart</mat-icon></a>
    </span>

    </mat-card-content>
</mat-card>