# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
.build/
build/
DerivedData/
.build_lin/
PADockerfile_build

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate
.DS_Store

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
Packages/
.packages_lin/

webretail.service
StORMlog.txt
*.log
error.log 
node_modules/
webroot/favicon.ico
webroot/index.html
webroot/assets/
webroot/dist/
../../bitbucket.org/Webretail/WebretailService/.DS_Store
../../bitbucket.org/Webretail/.DS_Store
../../bitbucket.org/Webretail/WebretailService/ClientApp/.DS_Store
../../bitbucket.org/Webretail/WebretailService/ClientApp/app/.DS_Store
../../bitbucket.org/Webretail/WebretailService/ClientApp/app/components/.DS_Store
../../bitbucket.org/Webretail/WebretailService/Models/.DS_Store
