<p-progressSpinner *ngIf="!company" class="loading" strokeWidth="6" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>

<form *ngIf="company" [formGroup]="dataform">
<p-tabView>
    <p-tabPanel header="Information">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="name">Name</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="name" [(ngModel)]="company.companyName"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="site">Website</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="site" [(ngModel)]="company.companyWebsite"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="address">Address</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="address" [(ngModel)]="company.companyAddress"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="city">City</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="city" [(ngModel)]="company.companyCity"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="zip">Zip</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="zip" [(ngModel)]="company.companyZip"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['zip'].valid&&dataform.controls['zip'].dirty">
                        <span *ngIf="dataform.controls['zip'].errors['minlength']||dataform.controls['zip'].errors['maxlength']">Must be equals than 5 characters</span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="province">Province</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="province" [(ngModel)]="company.companyProvince"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['province'].valid&&dataform.controls['province'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="dataform.controls['province'].errors['minlength']||dataform.controls['province'].errors['maxlength']">Must be equals than 2 characters</span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="country">Country</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown [options]="countries" formControlName="country" [(ngModel)]="company.companyCountry" [filter]="true" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="vatNumber">VAT number</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="vatNumber" [(ngModel)]="company.companyVatNumber"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['vatNumber'].valid&&dataform.controls['vatNumber'].dirty">
                        <span *ngIf="dataform.controls['vatNumber'].errors['minlength']||dataform.controls['vatNumber'].errors['maxlength']">Must be equals than 11 characters</span>
                    </div>
                </div>
            </div>
        </div>
        <p-accordion>
            <p-accordionTab header="Description" [selected]="true">
                <app-translation *ngIf="countries" [(translations)]="company.companyDescription"></app-translation>
            </p-accordionTab>
        </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Contacts">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="phone">Phone number</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="phone" [(ngModel)]="company.companyPhone"/>
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="emailInfo">Email info</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="emailInfo" [(ngModel)]="company.companyEmailInfo" type="email"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['emailInfo'].valid&&dataform.controls['emailInfo'].dirty">
                        <span *ngIf="dataform.controls['emailInfo'].errors['email']">Must be a valid email address</span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="emailSales">Email sales</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="emailSales" [(ngModel)]="company.companyEmailSales" type="email"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['emailSales'].valid&&dataform.controls['emailSales'].dirty">
                        <span *ngIf="dataform.controls['emailSales'].errors['email']">Must be a valid email address</span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="emailSupport">Email support</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="emailSupport" [(ngModel)]="company.companyEmailSupport" type="email"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['emailSupport'].valid&&dataform.controls['emailSupport'].dirty">
                        <span *ngIf="dataform.controls['emailSupport'].errors['email']">Must be a valid email address</span>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Localization">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="currency">Currency</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown [options]="currencies" formControlName="currency" [(ngModel)]="company.companyCurrency" [filter]="true" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="timezones">Time Zome</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown [options]="timezones" formControlName="utc" [(ngModel)]="company.companyUtc" [filter]="true" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="locales">Locale</label></div>
                <div class="ui-grid-col-2">
                    <input pInputText formControlName="localeCode" [(ngModel)]="translation.country" placeholder="Code"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['localeCode'].valid&&dataform.controls['localeCode'].dirty">
                        <span *ngIf="dataform.controls['localeCode'].errors['minlength']||dataform.controls['localeCode'].errors['maxlength']">Must be equals than 2 characters</span>
                    </div>
                </div>
                <div class="ui-grid-col-4">
                    <input pInputText formControlName="localeName" [(ngModel)]="translation.value" placeholder="Name"/>
                </div>
                <div class="ui-grid-col-2">
                    <button type="button" pButton icon="fa-plus" (click)="addClick()" class="ui-button-secondary"></button>
                </div>
            </div>
            <div *ngFor="let locale of company.companyLocales" class="ui-grid-row">
                <div class="ui-grid-col-4"></div>
                <div class="ui-grid-col-2">{{ locale.country }}</div>
                <div class="ui-grid-col-4">{{ locale.value }}</div>
                <div class="ui-grid-col-2">
                    <button type="button" pButton icon="fa-minus" (click)="removeClick()" class="ui-button-secondary"></button>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Mail">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="host">Ssl</label></div>
                <div class="ui-grid-col-8">
                    <p-inputSwitch onLabel="Yes" offLabel="No" formControlName="ssl" [(ngModel)]="company.smtpSsl"></p-inputSwitch>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="host">SMTP Host</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="host" [(ngModel)]="company.smtpHost"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="username">Username</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="username" [(ngModel)]="company.smtpUsername"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="password">Password</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText type="password" formControlName="password" [(ngModel)]="company.smtpPassword"/>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Barcode">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="host">Number</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="barcode" [(ngModel)]="company.barcodeCounter"/>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Header">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <p-fileUpload mode="basic" name="header" url="/api/media" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <img title="Header" alt="Header not found. Upload new image size 2000×260 px" src="{{header}}" height="100" width="100%"/>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Payments">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="cashOnDelivery">Cash On Delivery</label></div>
                <div class="ui-grid-col-8">
                    <p-inputSwitch onLabel="Yes" offLabel="No" formControlName="cashOnDelivery" [(ngModel)]="company.cashOnDelivery"></p-inputSwitch>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12"><h3>Bank Transfer</h3></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="bankName">Bank Name</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="bankName" [(ngModel)]="company.bankName"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="bankIban">Iban</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="bankIban" [(ngModel)]="company.bankIban"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12"><h3>PayPal</h3></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="host">Environment</label></div>
                <div class="ui-grid-col-8">
                    <p-selectButton formControlName="paypalEnv" [options]="paypalEnvs" [(ngModel)]="company.paypalEnv"></p-selectButton>                        
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="paypalSandbox">Sandbox Client ID</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="paypalSandbox" [(ngModel)]="company.paypalSandbox"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="paypalProduction">Production Client ID</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="paypalProduction" [(ngModel)]="company.paypalProduction"/>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Shippins">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="shippingStandard">Standard</label></div>
                <div class="ui-grid-col-8">
                    <p-inputSwitch onLabel="Yes" offLabel="No" formControlName="shippingStandard" [(ngModel)]="company.shippingStandard"></p-inputSwitch>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="shippingExpress">Express</label></div>
                <div class="ui-grid-col-8">
                    <p-inputSwitch onLabel="Yes" offLabel="No" formControlName="shippingExpress" [(ngModel)]="company.shippingExpress"></p-inputSwitch>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-8"></div>
            <div class="ui-grid-col-4">
                <button type="button" pButton icon="fa-save" (click)="saveClick()" class="ui-button-success" label="Save" [disabled]="!dataform.valid"></button>
            </div>
        </div>
    </div>
</p-tabView>

</form>
