<img *ngIf="isBusy" src="/assets/loading.gif" class="loading">

<div class="container-fluid">

    <div class="noprint">
        <button pButton type="button" title="Movements" (click)="cancelClick()" class="ui-button-secondary" style="width:50px" icon="fa-reply"></button>
        <!-- <button pButton type="button" label="Print" title="Print document" (click)="printClick()" class="ui-button-secondary" icon="fa-print"></button> -->
        <button pButton type="button" label="PDF" title="Pdf document" (click)="pdfClick()" [disabled]="isBusy" class="ui-button-secondary" icon="fa-file-pdf-o"></button>
        <button pButton type="button" label="Send mail" title="Send mail" (click)="sendMailClick()" [disabled]="isBusy" class="ui-button-secondary" icon="fa-envelope"></button>
    </div>

    <div *ngIf="invoice" #doc>
        <div *ngFor="let items of groups" class="pdfDocument">          
            <table class="table" style="width: 100%">    
                <thead>
                    <tr> 
                        <td colspan="5"><img title="Header" height="100" width="100%" src="{{document.location.protocol}}/Media/header.png" alt="Header not found. Upload on Settings -> Company -> Document Header" style="margin: 10px 0"></td> 
                    </tr> 
                    <tr> 
                        <td><strong>Invoice n°</strong></td> 
                        <td align="right">{{invoice.invoiceNumber}}</td>
                        <td style="width: 20%">&nbsp;</td>
                        <td><strong>Payment</strong></td> 
                        <td align="right">{{invoice.invoicePayment}}</td> 
                    </tr> 
                    <tr> 
                        <td><strong>Date</strong></td> 
                        <td align="right">{{invoice.invoiceDate | date: 'yyyy-MM-dd'}}</td>
                        <td style="width: 20%">&nbsp;</td>
                        <td><strong>Customer</strong></td>
                        <td rowspan="3" align="right">
                            {{invoice.invoiceCustomer.customerName}}
                            <br/>{{invoice.invoiceCustomer.customerAddress}}
                            <br/>{{invoice.invoiceCustomer.customerCity}}
                            <br/>{{invoice.invoiceCustomer.customerVatNumber !== '' ? invoice.invoiceCustomer.customerVatNumber : invoice.invoiceCustomer.customerFiscalCode}}
                        </td> 
                    </tr> 
                    <tr> 
                        <td colspan="4"><strong>Note</strong></td> 
                    </tr> 
                    <tr> 
                        <td colspan="4">{{invoice.invoiceNote}}</td>
                    </tr>
                </thead>
            </table>

            <table class="table" cellpadding="2" cellspacing="2" style="width: 100%">    
                <thead>
                    <tr style="background-color: whitesmoke"> 
                        <td><strong>Barcode</strong></td> 
                        <td><strong>Product</strong></td> 
                        <td align="center"><strong>Quantity</strong></td> 
                        <td align="right"><strong>Price</strong></td> 
                        <td align="right"><strong>Amount</strong></td> 
                    </tr> 
                </thead>
                <tfoot style="background-color: whitesmoke">
                    <tr>
                        <td colspan="2">Amount</td>
                        <td colspan="3" align="right">{{amount | currency: 'EUR' : true}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Tax 22%</td>
                        <td colspan="3" align="right">{{total - amount | currency: 'EUR' : true}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Totals</strong></td>
                        <td align="center"><strong>{{totalItems}}</strong></td>
                        <td colspan="2" align="right"><strong>{{total | currency: 'EUR' : true}}</strong></td>
                    </tr>
                </tfoot>
                <tbody> 
                    <tr *ngFor="let item of items" style="height: 39px"> 
                        <td><span>{{item.movementArticleBarcode}}</span></td> 
                        <td><span>{{item.movementArticleProduct | articleInfo:item.movementArticleBarcode}}</span></td> 
                        <td align="center"><span>{{item.movementArticleBarcode ? item.movementArticleQuantity : ''}}</span></td> 
                        <td align="right"><span>{{!item.movementArticleBarcode ? '' : item.movementArticlePrice | currency: 'EUR' : true}}</span></td> 
                        <td align="right"><span>{{!item.movementArticleBarcode ? '' : item.movementArticleAmount | currency: 'EUR' : true}}</span></td> 
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>