<img *ngIf="isBusy" src="/assets/loading.gif" class="loading">

<table *ngIf="product" class="table" cellpadding="2" cellspacing="0">
    <thead>
        <tr style="background-color: whitesmoke"> 
            <td style="width: 160px"><strong>Barcode</strong></td> 
            <td><strong>Article</strong></td> 
            <td style="width: 60px">
                <button pButton type="button" (click)="openSidebarClick()" class="ui-button-secondary" icon="fa-folder-open-o"></button>
            </td>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let data of articleForm"> 
            <td><span>{{data.barcode}}</span></td> 
            <td><span>
                {{ data.product | articleInfo:data.barcode}}
            </span></td> 
            <td align="center">
                <button pButton type="button" (click)="removeClick(data.barcode)" class="ui-button-secondary" icon="fa-times"></button>
            </td> 
        </tr> 
    </tbody>
</table>   

<div style="text-align: center"><strong>{{totalRecords}}</strong> articles</div>
