<p-progressSpinner *ngIf="isBusy" class="loading" strokeWidth="6" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>

<table *ngIf="product" class="ui-datatable container-fluid" cellpadding="5" cellspacing="0">
    <thead>
        <tr style="background-color: whitesmoke"> 
            <td style="width: 160px"><strong>Sku</strong></td> 
            <td><strong>Description</strong></td> 
            <td style="width: 60px">&nbsp;</td>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="2"><strong>{{totalRecords}}</strong> items</td>
            <td>
                <button pButton type="button" (click)="addClick()" class="ui-button-primary" icon="fa-plus"></button>                    
            </td>
        </tr>
    </tfoot>
    <tbody> 
        <tr *ngFor="let data of articleForm"> 
            <td><span>{{data.barcode}}</span></td> 
            <td><span>
                {{ data.product | articleInfo:data.barcode}}
            </span></td> 
            <td align="center">
                <button pButton type="button" (click)="removeClick(data.barcode)" class="ui-button-secondary" icon="fa-times"></button>
            </td> 
        </tr> 
    </tbody>
</table>   
