<p-progressSpinner *ngIf="!products" class="loading" strokeWidth="6" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>

<div class="container-fluid">
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" label="{{totalRecords}} items" title="Add product" (click)="addClick()" class="ui-button-primary" icon="fa-plus"></button>
            <button pButton type="button" label="Refresh" (click)="refreshClick()" class="ui-button-primary" icon="fa-refresh"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <p-splitButton label="Open" icon="fa-edit" (onClick)="openClick()" [model]="buttons" [disabled]="!selected"></p-splitButton>
        </div>
    </p-toolbar>
    <p-dataTable [responsive]="true" [value]="products | priceFilter:sliderValue:'price' | categoryFilter:categoryValue" 
        selectionMode="single" [(selection)]="selected" [contextMenu]="bts"
        [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [pageLinks]="5" #dt>
        <p-column field="productCode" header="Code" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="productName" header="Name" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="brand.brandName" header="Brand" [sortable]="true" [filter]="true" filterMatchMode="equals" [style]="{'overflow':'visible'}" >
            <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="brands" [filter]="true" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
        </p-column>     
        <p-column header="Categories" [sortable]="true" [filter]="true" [style]="{'overflow':'visible'}" >
            <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="categories" [filter]="true" [style]="{'width':'100%'}" [(ngModel)]="categoryValue" styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
            <ng-template let-col let-data="rowData" pTemplate="body">
                <li *ngFor="let item of data.categories"> {{ item.category.categoryName }} </li>
            </ng-template>
        </p-column>
        <p-column header="Price ({{sliderValue||'No Filter'}})" [sortable]="true" [filter]="true" [style]="{'overflow':'visible'}" >
            <ng-template pTemplate="filter" let-col>
                <i class="fa fa-close" (click)="sliderValue=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
                <p-slider [style]="{'margin-top':'14px','margin-bottom':'5px'}" [(ngModel)]="sliderValue" [min]="5" [max]="1000"></p-slider>
            </ng-template>
            <ng-template let-col let-data="rowData" pTemplate="body">
                <div *ngIf="data.discount.discountId>0;then discount_content else price_content"></div>
                <ng-template #discount_content>
                    <span class="percentage">-{{data.discount.discountPercentage}}%</span>
                    <del>{{data.price.selling | currency: 'EUR' : true}}</del><br><strong>{{data.discount.discountPrice | currency: 'EUR' : true}}</strong>
                </ng-template>
                <ng-template #price_content>
                    {{data.price.selling | currency: 'EUR' : true}}
                </ng-template>
            </ng-template>
        </p-column>
    </p-dataTable>
    <p-contextMenu #bts [model]="buttons"></p-contextMenu>
</div>