<div *ngIf="publication">
    <p>
        <strong>Start</strong>
        <br/>
        <p-calendar [(ngModel)]="publication.publicationStartAt" dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
    </p>
    <p>
        <strong>Finish</strong>
        <br/>
        <p-calendar [(ngModel)]="publication.publicationFinishAt" dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
    </p>
    <br/>
    <p>
        <strong>Featured</strong>
        <br/>
        <p-inputSwitch [(ngModel)]="publication.publicationFeatured"></p-inputSwitch>
    </p>
    <p>
        <strong>New</strong>
        <br/>
        <p-inputSwitch [(ngModel)]="publication.publicationNew"></p-inputSwitch>
    </p>
</div>
