<div class="inputtext">
    <table class="table" cellpadding="2" cellspacing="2">
        <thead>
            <tr> 
                <td style="background-color: whitesmoke"><strong>Barcode</strong></td> 
            </tr>
        </thead>
        <tfoot>
            <tr> 
                <td><button pButton type="button" label="Update" (click)="saveClick()" class="ui-button-primary" icon="fa-barcode"></button></td> 
            </tr>
        </tfoot>
        <tbody> 
            <tr> 
                <td>
                    <input pInputText type="text" size="13" [(ngModel)]="barcode" />
                </td> 
            </tr> 
        </tbody>
    </table>    
</div>
