<p-progressSpinner *ngIf="isBusy" class="loading" strokeWidth="6" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>

<div class="container-fluid">

   <button pButton type="button" title="Products" style="position: absolute; top: 144px; left: 30px; width:50px;" (click)="cancelClick()" class="ui-button-secondary" icon="fa-reply"></button>
    
    <p-toolbar>
        <div class="ui-toolbar-group-left" style="margin-left:60px">
            <ul *ngIf="product">
                <li><strong>Product</strong> {{product.productName}}</li>
                <li><strong>Brand</strong> {{product.brand.brandName}}</li>
                <li><strong>Category</strong>
                    <ul>
                        <li *ngFor="let item of product.categories">{{ item.category.categoryName }}</li>
                    </ul>
                </li>
                <li><strong>Inventory</strong>
                    <ul>
                        <li>Items: <strong>{{totalRecords}}</strong></li>
                        <li>Stock: <strong>{{totalStocks}}</strong></li>
                        <li>Booked: <strong>{{totalBookeds}}</strong></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="ui-toolbar-group-right">
            <p-multiSelect [options]="stores" defaultLabel="All stores" (onChange)="onStoreChanged($event)"></p-multiSelect>
        </div>
    </p-toolbar>

    <table *ngIf="articleForm" class="table" cellpadding="2" cellspacing="2">    
        <thead>
            <tr> 
                <td *ngFor="let h of articleForm.header" align="center" style="background-color: whitesmoke"><strong>{{h}}</strong></td> 
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let item of articleForm.body"> 
                <td *ngFor="let col of item" align="center">
                    <span *ngIf="col.id===0" title="{{col.value}}">{{col.value}}</span> 
                    <span *ngIf="col.id>0" title="{{col.value}}">{{col.stock}} - {{col.booked}}</span> 
                </td> 
            </tr> 
        </tbody>
    </table>

</div>