<table *ngIf="formsSelected" class="ui-datatable" cellpadding="5" cellspacing="0">
    <thead>
        <tr style="background-color: whitesmoke"> 
            <td style="width: 20%"><label>Attribute</label></td> 
            <td><label>Values</label></td>
            <td style="width: 60px">
                <button pButton type="button" (click)="openAttributesClick()" class="ui-button-secondary" icon="fa-folder-open-o"></button>
            </td>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="2"><strong>{{totalRecords}}</strong> variants</td>
            <td>
                <button pButton type="button" (click)="addClick()" class="ui-button-primary" icon="fa-plus"></button>                    
            </td>
        </tr>
    </tfoot>
    <tbody> 
        <tr *ngFor="let item of formsSelected"> 
            <td>
                <p-autoComplete [(ngModel)]="item.name" (onSelect)="updateAttributes($event)" [suggestions]="filteredNames" (completeMethod)="filterAttributes($event)"
                    [minLength]="1">
                </p-autoComplete>    
            </td> 
            <td>
                <p-autoComplete [(ngModel)]="item.values" (onSelect)="updateAttributes($event)" [suggestions]="filteredNames" (completeMethod)="filterAttributeValues($event, item.id)" 
                    [minLength]="1" [multiple]="true">
                </p-autoComplete>
            </td>
            <td>
                <button pButton type="button" (click)="removeClick()" class="ui-button-primary" icon="fa-times"></button>                    
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="product.productId>0">
    <span>* Click for change pricing, packaging, etc. by attribute values</span>
    <p-tree [value]="productInfo" layout="horizontal" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>        
 </p>