<div *ngIf="account">
<form [formGroup]="dataform">
    <mat-card>
        <mat-card-content>
            <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="account.registryName" formControlName="name" placeholder="Full Name"/>
                <div *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
                    <i class="material-icons">warning</i>
                    <mat-error *ngIf="dataform.controls['name'].errors['required']">Full Name is required</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="account.registryEmail" type="email" formControlName="email" placeholder="Email"/>
                <div *ngIf="!dataform.controls['email'].valid&&dataform.controls['email'].dirty">
                    <i class="material-icons">warning</i>
                    <mat-error *ngIf="dataform.controls['email'].errors['required']">Email is required</mat-error>
                    <mat-error *ngIf="dataform.controls['email'].errors['email']">Must be a valid email address</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="account.registryPhone" formControlName="phone" placeholder="Phone"/>
                <div *ngIf="!dataform.controls['phone'].valid&&dataform.controls['phone'].dirty">
                    <i class="material-icons">warning</i>
                    <mat-error *ngIf="dataform.controls['phone'].errors['required']">Phone is required</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="account.registryAddress" formControlName="address" placeholder="Address"/>
                <div *ngIf="!dataform.controls['address'].valid&&dataform.controls['address'].dirty">
                    <i class="material-icons">warning</i>
                    <mat-error *ngIf="dataform.controls['address'].errors['required']">Address is required</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="account.registryCity" formControlName="city" placeholder="City"/>
                <div *ngIf="!dataform.controls['city'].valid&&dataform.controls['city'].dirty">
                    <i class="material-icons">warning</i>
                    <mat-error *ngIf="dataform.controls['city'].errors['required']">City is required</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="account.registryZip" formControlName="zip" placeholder="Zip"/>
                <div *ngIf="!dataform.controls['zip'].valid&&dataform.controls['zip'].dirty">
                    <i class="material-icons">warning</i>
                    <mat-error *ngIf="dataform.controls['zip'].errors['required']">Zip is required</mat-error>
                    <mat-error *ngIf="dataform.controls['zip'].errors['minlength']||dataform.controls['zip'].errors['maxlength']">Must be equals than 5 characters</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="account.registryProvince" formControlName="province" placeholder="Province"/>
                <div *ngIf="!dataform.controls['province'].valid&&dataform.controls['province'].dirty">
                    <i class="material-icons">warning</i>
                    <mat-error *ngIf="dataform.controls['province'].errors['required']">Province is required</mat-error>
                    <mat-error *ngIf="dataform.controls['province'].errors['minlength']||dataform.controls['province'].errors['maxlength']">Must be equals than 2 characters</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="account.registryCountry" formControlName="country" placeholder="Country"/>
                <div *ngIf="!dataform.controls['country'].valid&&dataform.controls['country'].dirty">
                    <i class="material-icons">warning</i>
                    <mat-error *ngIf="dataform.controls['country'].errors['required']">Country is required</mat-error>
                    <mat-error *ngIf="dataform.controls['country'].errors['minlength']||dataform.controls['country'].errors['maxlength']">Must be equals than 3 characters</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="account.registryFiscalCode" formControlName="fiscalCode" placeholder="Fiscal Code"/>
                <div *ngIf="!dataform.controls['fiscalCode'].valid&&dataform.controls['fiscalCode'].dirty">
                    <i class="material-icons">warning</i>
                    <mat-error *ngIf="dataform.controls['fiscalCode'].errors['required']">Fiscal Code is required</mat-error>
                    <mat-error *ngIf="dataform.controls['fiscalCode'].errors['minlength']||dataform.controls['fiscalCode'].errors['maxlength']">Must be equals than 16 characters</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="account.registryVatNumber" formControlName="vatNumber" placeholder="VAT Number (optional)"/>
                <div *ngIf="!dataform.controls['vatNumber'].valid&&dataform.controls['vatNumber'].dirty">
                    <i class="material-icons">warning</i>
                    <mat-error *ngIf="dataform.controls['vatNumber'].errors['minlength']||dataform.controls['vatNumber'].errors['maxlength']">Must be equals than 11 characters</mat-error>
                </div>
            </mat-form-field>
            <button mat-raised-button olor="primary" (click)="saveClick()" [disabled]="!dataform.valid"><mat-icon>save</mat-icon> Save</button>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!isCheckout">
        <mat-card-content>
            <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="account.registryPassword" type="password" formControlName="password" placeholder="New password"/>
                <div *ngIf="!dataform.controls['password'].valid&&dataform.controls['password'].dirty">
                    <i class="material-icons">warning</i>
                    <mat-error *ngIf="dataform.controls['password'].errors['required']">Password is required</mat-error>
                    <mat-error *ngIf="dataform.controls['password'].errors['minlength']">Must be longer than 8 characters</mat-error>
                    <mat-error *ngIf="dataform.controls['password'].errors['maxlength']">Must be at most 20 characters</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm new password"/>
                <div *ngIf="!dataform.controls['confirmPassword'].valid&&dataform.controls['confirmPassword'].dirty">
                    <i class="material-icons">warning</i>
                    <mat-error *ngIf="dataform.controls['confirmPassword'].errors['required']">Confirm Password is required</mat-error>
                    <mat-error *ngIf="dataform.controls['confirmPassword'].errors['matchPassword']">Password not match</mat-error>
                </div>
            </mat-form-field>
            <button mat-raised-button olor="primary" (click)="updateClick()" [disabled]="!dataform.controls['confirmPassword'].valid"><mat-icon>save</mat-icon> Update</button>
        </mat-card-content>
    </mat-card>
</form>
<mat-card *ngIf="!isCheckout">
    <mat-card-content>
        <button mat-raised-button color="primary" (click)="logoutClick()"><mat-icon>exit_to_app</mat-icon> Logout</button>
        <button *ngIf="account.registryId>0" mat-raised-button (click)="deleteClick()" style="float: right"><mat-icon>delete_forever</mat-icon> Delete</button>
    </mat-card-content>
</mat-card>
</div>