<form [formGroup]="dataform">
    <div  *ngIf="discount" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="start">Start</label></div>
            <div class="ui-grid-col-8">
                <p-calendar formControlName="start" [(ngModel)]="discount.startAt" dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['start'].valid&&dataform.controls['start'].dirty">
                    <i class="fa fa-close"></i> Start date is required
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="finish">Finish</label></div>
            <div class="ui-grid-col-8">
                <p-calendar formControlName="finish" [(ngModel)]="discount.finishAt" dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['finish'].valid&&dataform.controls['finish'].dirty">
                    <i class="fa fa-close"></i> Finish date is required
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12"><h4>TYPE OF DISCOUNT</h4></div>
        </div>
        <div class="ui-grid-row" *ngIf="discount.price<1">
            <div class="ui-grid-col-4"><label for="percentage">percentage %</label></div>
            <div class="ui-grid-col-8">
                <input pInputText type="number" formControlName="percentage" [(ngModel)]="discount.percentage" min="0" max="100"/>
            </div>
        </div>
        <div class="ui-grid-row" *ngIf="discount.percentage<1">
            <div class="ui-grid-col-4"><label for="price">fixed-price</label></div>
            <div class="ui-grid-col-8">
                <input pInputText type="number" formControlName="price" [(ngModel)]="discount.price" min="0"/>
            </div>
        </div>
    </div>
</form>
