<p-dataTable *ngIf="isOpen" [responsive]="true" [value]="movements | dateFilter:dateStartValue:dateFinishValue" 
    selectionMode="multiple" [(selection)]="selected"
    [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [pageLinks]="5" #dt>
    <p-header>
        <div class="ui-helper-clearfix" style="text-align: left">
            <span style="font-size:20px;display:inline-block;margin-top:3px"><b>Movement picker</b></span>
            <button pButton type="button" label="Close" (click)="hidePickerClick()" style="float: right" class="ui-button-secondary" icon="fa-close"></button>
        </div>
    </p-header>
    <p-footer>
        <button pButton type="button" label="Pickup" (click)="pickerClick()" class="ui-button-primary" icon="fa-reply-all"></button>
    </p-footer>
    <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>
    <p-column field="movementNumber" header="Number" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column header="Date" [sortable]="true" [filter]="false" [style]="{'overflow':'visible'}">
        <ng-template let-col let-data="rowData" pTemplate="body">
            {{data.movementDate | date:'yyyy-MM-dd'}}
        </ng-template>            
        <ng-template pTemplate="filter" let-col>
            <i class="fa fa-close" (click)="dateStartValue=null;dateFinishValue=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
            <p-calendar [(ngModel)]="dateStartValue" [inputStyle]="{'width':'50%','float':'left'}" dateFormat="yy-mm-dd" placeholder="Start" styleClass="ui-column-filter"></p-calendar>
            <p-calendar [(ngModel)]="dateFinishValue" [inputStyle]="{'width':'50%','float':'right'}" dateFormat="yy-mm-dd" placeholder="Finish" styleClass="ui-column-filter"></p-calendar>
        </ng-template>
    </p-column>
    <p-column field="movementCausal.causalName" header="Causal" [sortable]="true" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
        <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="causalsFiltered" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
    </p-column>
    <p-column field="movementStore.storeName" header="Store" [sortable]="true" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
        <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="storesFiltered" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
    </p-column>
</p-dataTable>