<img id="background" src="/assets/latest.jpg"/>
<div id="layout-topbar">
    <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
        <i class="fa fa-bars"></i>
    </a>
    <span class="titlepage">{{sessionService.title}}</span>
</div>

<div id="layout-sidebar" [ngClass]="{'active': menuActive}">
    <a [routerLink]="['/']" (click)="menuActive = false"><img class="logo" src="/assets/logo.jpg" height="72"/></a>
    <div *ngIf="isAuthenticated" class="layout-menu">
        <a id="productmenu" #productmenu [class.active-menuitem]="productmenu.id == activeMenuId" (click)="activeMenuId = (activeMenuId === productmenu.id ? null : productmenu.id)">
            <span><i class="fa fa-database"></i>&nbsp;&nbsp;Product</span>
        </a>
        <div [ngClass]="{'submenushow': (productmenu.id == activeMenuId), 'submenuhide': (productmenu.id != activeMenuId)}">
            <a [routerLink]="['/product']" (click)="menuActive = false"><i class="glyphicon glyphicon-th"></i>Products</a>
            <a [routerLink]="['/brand']" (click)="menuActive = false"><i class="glyphicon glyphicon-th-list"></i>Brands</a>
            <a [routerLink]="['/category']" (click)="menuActive = false"><i class="glyphicon glyphicon-th-list"></i>Categories</a>
            <a [routerLink]="['/attribute']" (click)="menuActive = false"><i class="glyphicon glyphicon-th-list"></i>Attributes</a>
            <a [routerLink]="['/discount']" (click)="menuActive = false"><i class="glyphicon glyphicon-scissors"></i>Discounts</a>
            <a [routerLink]="['/import']" (click)="menuActive = false"><i class="glyphicon glyphicon-download"></i>Import</a>
        </div>

        <a id="movementmenu" #movementmenu [class.active-menuitem]="movementmenu.id == activeMenuId" (click)="activeMenuId = (activeMenuId === movementmenu.id ? null : movementmenu.id)">
            <span><i class="fa fa-gamepad"></i>&nbsp;&nbsp;Movement</span>
        </a>
        <div [ngClass]="{'submenushow': (movementmenu.id == activeMenuId), 'submenuhide': (movementmenu.id != activeMenuId)}">
            <a [routerLink]="['/movement']" (click)="menuActive = false"><i class="glyphicon glyphicon-indent-left"></i>Movements</a>
            <a [routerLink]="['/causal']" (click)="menuActive = false"><i class="glyphicon glyphicon-th-list"></i>Causals</a>
            <a [routerLink]="['/tag']" (click)="menuActive = false"><i class="glyphicon glyphicon-tag"></i>Tags</a>
            <a [routerLink]="['/registry']" (click)="menuActive = false"><i class="glyphicon glyphicon-user"></i>Registries</a>
            <a [routerLink]="['/invoice']" (click)="menuActive = false"><i class="glyphicon glyphicon-list-alt"></i>Invoices</a>
        </div>

        <a id="reportmenu" #reportmenu [class.active-menuitem]="reportmenu.id == activeMenuId" (click)="activeMenuId = (activeMenuId === reportmenu.id ? null : reportmenu.id)">
            <span><i class="fa fa-line-chart"></i>&nbsp;&nbsp;Report</span>
        </a>
        <div [ngClass]="{'submenushow': (reportmenu.id == activeMenuId), 'submenuhide': (reportmenu.id != activeMenuId)}">
            <a [routerLink]="['/report/receipts']" (click)="menuActive = false"><i class="glyphicon glyphicon-modal-window"></i>Receipts</a>
            <a [routerLink]="['/report/sales']" (click)="menuActive = false"><i class="glyphicon glyphicon-scale"></i>Sales</a>
            <a [routerLink]="['/report/statistics']" (click)="menuActive = false"><i class="glyphicon glyphicon-dashboard"></i>Statistics</a>
        </div>

        <a id="settingmenu" #settingmenu [class.active-menuitem]="settingmenu.id == activeMenuId" (click)="activeMenuId = (activeMenuId === settingmenu.id ? null : settingmenu.id)">
            <span><i class="fa fa-cog"></i>&nbsp;&nbsp;Setting</span>
        </a>
        <div [ngClass]="{'submenushow': (settingmenu.id == activeMenuId), 'submenuhide': (settingmenu.id != activeMenuId)}">
            <a *ngIf="!isAdmin" [routerLink]="['/account/myinfo']"><i class="glyphicon glyphicon-user"></i>Account</a>
            <a *ngIf="isAdmin" [routerLink]="['/company']"><i class="glyphicon glyphicon-home"></i>Company</a>
            <a *ngIf="isAdmin" [routerLink]="['/account']"><i class="glyphicon glyphicon-user"></i>Accounts</a>
            <a [routerLink]="['/store']"><i class="glyphicon glyphicon-inbox"></i>Stores</a>
            <a [routerLink]="['/device']"><i class="glyphicon glyphicon-phone"></i>Devices</a>
        </div>
        <a (click)="logoutClick()">
            <span><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Logout</span>
        </a>
    </div>
    <div *ngIf="!isAuthenticated" class="layout-menu">
        <a [routerLink]="['/login']">
            <span><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Login</span>
        </a>
    </div>
</div>

<div class="layout-mask" *ngIf="menuActive">
</div>
