<p-dataTable *ngIf="isOpen" [responsive]="true" [value]="products | priceFilter:sliderValue | categoryFilter:categoryValue" 
    selectionMode="multiple" [(selection)]="selected"
    [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [pageLinks]="5" #dt>
    <p-header>
        <div class="ui-helper-clearfix" style="text-align: left">
            <span style="font-size:20px;display:inline-block;margin-top:3px"><b>Product picker</b></span>
            <button pButton type="button" label="Close" (click)="hidePickerClick()" style="float: right" class="ui-button-warning" icon="fa-close"></button>
        </div>
    </p-header>
    <p-footer>
        <button pButton type="button" label="Pickup" (click)="pickerClick()" class="ui-button-success" icon="fa-reply-all"></button>
    </p-footer>
    <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>
    <p-column field="productCode" header="Code" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="productName" header="Name" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="brand.brandName" header="Brand" [sortable]="true" [filter]="true" filterMatchMode="equals" [style]="{'overflow':'visible'}" >
        <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="brands" [filter]="true" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
    </p-column>     
    <p-column header="Categories" [sortable]="true" [filter]="true" [style]="{'overflow':'visible'}" >
        <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="categories" [filter]="true" [style]="{'width':'100%'}" [(ngModel)]="categoryValue" styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
        <ng-template let-col let-data="rowData" pTemplate="body">
            <li *ngFor="let item of data.categories"> {{ item.category.categoryName }} </li>
        </ng-template>
    </p-column>
    <p-column header="Price ({{sliderValue||'No Filter'}})" [sortable]="true" [filter]="true" [style]="{'overflow':'visible'}" >
        <ng-template pTemplate="filter" let-col>
            <i class="fa fa-close" (click)="sliderValue=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
            <p-slider [style]="{'margin-top':'14px','margin-bottom':'5px'}" [(ngModel)]="sliderValue" [min]="5" [max]="1000"></p-slider>
        </ng-template>
        <ng-template let-col let-data="rowData" pTemplate="body">
            <div *ngIf="data.discount;then discount_content else price_content"></div>
            <ng-template #discount_content>
                <span class="percentage">-{{data.discount.discountPercentage}}%</span>
                <del>{{data.productSellingPrice | currencyFormat}}</del><br><strong>{{data.discount.discountPrice | currencyFormat}}</strong>
            </ng-template>
            <ng-template #price_content>
                {{data.productSellingPrice | currencyFormat}}
            </ng-template>
        </ng-template>
    </p-column>
</p-dataTable>