<p-growl [value]="msgs"></p-growl>
<img *ngIf="!company" src="/assets/loading.gif" class="loading">

<div class="container-fluid">

    <form *ngIf="company" [formGroup]="dataform">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="name">Name</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="name" [(ngModel)]="company.companyName"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
                        <i class="fa fa-close"></i> Name is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="desc">Description</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="desc" [(ngModel)]="company.companyDesc"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="site">Website</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="site" [(ngModel)]="company.companyWebsite"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="email">Email</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="email" [(ngModel)]="company.companyEmail" type="email"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['email'].valid&&dataform.controls['email'].dirty">
                        <i class="fa fa-close"></i> Email is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="phone">Phone</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="phone" [(ngModel)]="company.companyPhone"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="address">Address</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="address" [(ngModel)]="company.companyAddress"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['address'].valid&&dataform.controls['address'].dirty">
                        <i class="fa fa-close"></i> Address is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="city">City</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="city" [(ngModel)]="company.companyCity"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['city'].valid&&dataform.controls['city'].dirty">
                        <i class="fa fa-close"></i> City is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="zip">Zip</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="zip" [(ngModel)]="company.companyZip"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['zip'].valid&&dataform.controls['zip'].dirty">
                        <i class="fa fa-close"></i> Zip is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="country">Country</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="country" [(ngModel)]="company.companyCountry"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['country'].valid&&dataform.controls['country'].dirty">
                        <i class="fa fa-close"></i> Country is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="fiscalCode">Fiscal Code</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="fiscalCode" [(ngModel)]="company.companyFiscalCode"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['fiscalCode'].valid&&dataform.controls['fiscalCode'].dirty">
                        <i class="fa fa-close"></i> Fiscal Code is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="vatNumber">VAT number</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="vatNumber" [(ngModel)]="company.companyVatNumber"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['vatNumber'].valid&&dataform.controls['vatNumber'].dirty">
                        <i class="fa fa-close"></i> VAT number is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12"><h3>Outgoing Mail</h3></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="host">Ssl</label></div>
                <div class="ui-grid-col-8">
                    <p-inputSwitch onLabel="Yes" offLabel="No" formControlName="ssl" [(ngModel)]="company.smtpSsl"></p-inputSwitch>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="host">Host</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="host" [(ngModel)]="company.smtpHost"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="username">Username</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="username" [(ngModel)]="company.smtpUsername"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="password">Password</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText type="password" formControlName="password" [(ngModel)]="company.smtpPassword"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12"><h3>Barcode counter</h3></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="host">Number</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="barcode" [(ngModel)]="company.barcodeCounter"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-8"></div>
                <div class="ui-grid-col-4">
                    <button type="button" pButton icon="fa-save" (click)="saveClick()" class="ui-button-success" label="Save" [disabled]="!dataform.valid"></button>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12"><h3>Document Header</h3></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <p-fileUpload mode="basic" name="header" url="/api/media" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <img title="Header" alt="Header not found. Upload new image size 2000×260 px" src="{{header}}" height="100" width="100%"/>
                </div>
            </div>
        </div>
    </form>
</div>
