<p-confirmDialog header="Confirmation delete" icon="fa-trash-o" [responsive]="true"></p-confirmDialog>
<img *ngIf="!items" src="/assets/loading.gif" class="loading">

<div class="container-fluid">

    <button pButton type="button" title="Discounts" style="position: absolute; top: 84px; left: 30px;" (click)="cancelClick()" class="ui-button-secondary" icon="fa-reply"></button>
    <h1 style="margin-left: 40px">Invoice</h1>
  
    <p-toolbar *ngIf="item">
        <div class="ui-toolbar-group-left">
            <span><b>number</b>: {{item.invoiceNumber}}</span>
            <br/><span><b>start</b>: {{item.invoiceDate | date: 'yyyy-MM-dd'}}</span>
        </div>
        <div class="ui-toolbar-group-right" style="text-align: right">
            <br>
            <span><b>customer</b>: {{item.invoiceCustomer.name}}</span>
        </div>
    </p-toolbar>

    <p-dataTable *ngIf="!inputComponent.isOpen" [value]="items" 
        selectionMode="multiple" [(selection)]="itemsSelected" [responsive]="true" #dt>
        <p-header>
            <button pButton style="position: absolute;left: 10px; top: 10px;" type="button" title="Movement picker" (click)="showPickerClick()" class="ui-button-primary" icon="fa-search-plus"></button>
            <p-chips [(ngModel)]="codes" placeholder="number reading" (onAdd)="addCodes()"></p-chips>
        </p-header>
        <p-footer>
            <button pButton type="button" label="Remove" (click)="removeClick()" [disabled]="itemsSelected.length===0" style="float: left" class="ui-button-secondary" icon="fa-trash"></button>
            <span style="float: right"><b>{{totalRecords}}</b> rows</span>
            <p>&nbsp;</p>
        </p-footer>
        <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>
        <p-column field="invoiceProduct.productCode" header="Code" [editable]="false" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="invoiceProduct.productName" header="Name" [editable]="false" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column header="Discount ({{sliderValue||'No Filter'}})"[sortable]="true" [filter]="true">
            <ng-template pTemplate="filter" let-col>
                <i class="fa fa-close" (click)="sliderValue=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
                <p-slider [style]="{'margin-top':'14px','margin-bottom':'5px'}" [(ngModel)]="sliderValue" [min]="5" [max]="1000" styleClass="ui-column-filter"></p-slider>
            </ng-template>
            <ng-template let-col let-data="rowData" pTemplate="body">
                {{(data.invoiceProduct.discount ? data.invoiceProduct.discount.discountPrice : data.invoiceProduct.productSellingPrice) | currency: 'EUR' : true}}
            </ng-template>
        </p-column>
    </p-dataTable>

    <product-picker (onPicked)="pickerClick($event)"></product-picker>
</div>