<p-confirmDialog header="Confirmation delete" icon="fa-trash-o" [responsive]="true"></p-confirmDialog>
<img *ngIf="!items" src="/assets/loading.gif" class="loading">

<div class="container-fluid">

    <button pButton type="button" title="Discounts" style="position: absolute; top: 84px; left: 30px;" (click)="cancelClick()" class="ui-button-secondary" icon="fa-reply"></button>
    <h1 style="margin-left: 40px">Invoice</h1>
  
    <p-toolbar *ngIf="item">
        <div class="ui-toolbar-group-left">
            <span><b>number</b>: {{item.invoiceNumber}}</span>
            <br/><span><b>date</b>: {{item.invoiceDate | date: 'yyyy-MM-dd'}}</span>
        </div>
        <div class="ui-toolbar-group-right" style="text-align: right">
            <br>
            <span><b>customer</b>: {{item.invoiceCustomer.customerName}}</span>
        </div>
    </p-toolbar>

    <p-dataTable *ngIf="!inputComponent.isOpen" [value]="items | dateFilter:dateStartValue:dateFinishValue | priceFilter:amountValue:'movements'" 
        selectionMode="multiple" [(selection)]="itemsSelected" [responsive]="true" #dt>
        <p-header>
            <button pButton type="button" label="Remove" (click)="removeClick()" [disabled]="itemsSelected.length===0" style="float: left" class="ui-button-secondary" icon="fa-trash"></button>
            <button pButton label="Movement picker" style="float: right" type="button" title="Movement picker" (click)="showPickerClick()" class="ui-button-primary" icon="fa-search-plus"></button>
            <p>&nbsp;</p>
        </p-header>
        <p-footer>
            <span style="float: left"><b>{{totalRecords}}</b> rows</span>
            <span style="float: right">amount <b>{{totalAmount | currency: 'EUR' : true}}</b></span>
            <p>&nbsp;</p>
        </p-footer>
        <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>
        <p-column field="movementNumber" header="Number" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column header="Date" [sortable]="true" [filter]="false" [style]="{'overflow':'visible'}">
            <ng-template let-col let-data="rowData" pTemplate="body">
                {{data.movementDate | date:'yyyy-MM-dd'}}
            </ng-template>            
            <ng-template pTemplate="filter" let-col>
                <i class="fa fa-close" (click)="dateStartValue=null;dateFinishValue=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
                <p-calendar [(ngModel)]="dateStartValue" [inputStyle]="{'width':'50%','float':'left'}" dateFormat="yy-mm-dd" placeholder="Start" styleClass="ui-column-filter"></p-calendar>
                <p-calendar [(ngModel)]="dateFinishValue" [inputStyle]="{'width':'50%','float':'right'}" dateFormat="yy-mm-dd" placeholder="Finish" styleClass="ui-column-filter"></p-calendar>
            </ng-template>
        </p-column>
        <p-column field="movementCausal.causalName" header="Causal" [sortable]="true" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
            <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="causalsFiltered" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
        </p-column>
        <p-column field="movementStore.storeName" header="Store" [sortable]="true" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
            <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="storesFiltered" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
        </p-column>
        <p-column header="Amount ({{amountValue||'No Filter'}})" [editable]="false" [sortable]="true" [filter]="true" [style]="{'overflow':'visible'}">
            <ng-template pTemplate="filter" let-col>
                <i class="fa fa-close" (click)="amountValue=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
                <p-slider [style]="{'margin-top':'14px','margin-bottom':'5px'}" [(ngModel)]="amountValue" [min]="5" [max]="1000"></p-slider>
            </ng-template>
            <ng-template let-col let-data="rowData" pTemplate="body">
                {{data.movementAmount | currency: 'EUR' : true}}
            </ng-template>
        </p-column>
    </p-dataTable>

    <movement-picker (onPicked)="pickerClick($event)"></movement-picker>
</div>