<p-confirmDialog icon="fa-trash-o" [responsive]="true"></p-confirmDialog>
<img *ngIf="!items" src="/assets/loading.gif" class="loading">

<div class="container-fluid">

    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" label="{{totalRecords}} items" title="Add item" (click)="addClick()" class="ui-button-primary" icon="fa-plus"></button>
            <button pButton type="button" label="Edit" title="Edit item" (click)="editClick()" [disabled]="!selected" class="ui-button-primary" icon="fa-edit"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" label="Details" title="Open details" (click)="openClick()" [disabled]="!selected" class="ui-button-primary" icon="fa-bars"></button>
        </div>
    </p-toolbar>

    <p-dataTable *ngIf="!displayPanel" [responsive]="true" [value]="items | periodFilter:dateStartValue:dateFinishValue | priceFilter:sliderValue:'discounts'"
        selectionMode="single" [(selection)]="selected"
        [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5" #dt>
        <p-column field="discountName" header="Name" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column header="Discount ({{sliderValue||'No Filter'}})"[sortable]="true" [filter]="true">
            <ng-template pTemplate="filter" let-col>
                <i class="fa fa-close" (click)="sliderValue=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
                <p-slider [style]="{'margin-top':'14px','margin-bottom':'5px'}" [(ngModel)]="sliderValue" [min]="5" [max]="1000" styleClass="ui-column-filter"></p-slider>
            </ng-template>
            <ng-template let-col let-data="rowData" pTemplate="body">
                {{data.discountPercentage > 0 ? data.discountPercentage + '%' : data.discountPrice | currency: 'EUR' : true}}
            </ng-template>
        </p-column>
        <p-column field="discountStartAt" header="Start" [sortable]="true" [filter]="false" [style]="{'overflow':'visible'}">
            <ng-template let-col let-data="rowData" pTemplate="body">
                {{data.discountStartAt | date:'yyyy-MM-dd'}}
            </ng-template>            
            <ng-template pTemplate="filter" let-col>
                <i class="fa fa-close" (click)="dateStartValue=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
                <p-calendar [(ngModel)]="dateStartValue" [inputStyle]="{'width':'100%'}" dateFormat="yy-mm-dd" placeholder="Start" styleClass="ui-column-filter"></p-calendar>
            </ng-template>
        </p-column>
        <p-column field="discountFinishAt" header="Finish" [sortable]="true" [filter]="false" [style]="{'overflow':'visible'}">
            <ng-template let-col let-data="rowData" pTemplate="body">
                {{data.discountFinishAt | date:'yyyy-MM-dd'}}
            </ng-template>            
            <ng-template pTemplate="filter" let-col>
                <i class="fa fa-close" (click)="dateFinishValue=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
                <p-calendar [(ngModel)]="dateFinishValue" [inputStyle]="{'width':'100%'}" dateFormat="yy-mm-dd" placeholder="Finish" styleClass="ui-column-filter"></p-calendar>
            </ng-template>
        </p-column>
    </p-dataTable>
    
     <p-panel *ngIf="displayPanel">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:20px;display:inline-block;margin-top:4px"><b>Discount</b></span>
                <button pButton type="button" label="Close" (click)="closeClick()" style="float: right" class="ui-button-secondary" icon="fa-close"></button>
            </div>
        </p-header>
        <form [formGroup]="dataform">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="selected">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label>Id</label></div>
                    <div class="ui-grid-col-8">{{selected.discountId}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="name">Name</label></div>
                    <div class="ui-grid-col-8">
                        <input pInputText formControlName="name" [(ngModel)]="selected.discountName"/>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
                            <i class="fa fa-close"></i> Name is required
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="start">Start</label></div>
                    <div class="ui-grid-col-8">
                        <p-calendar formControlName="start" [(ngModel)]="selected.discountStartAt" dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['start'].valid&&dataform.controls['start'].dirty">
                            <i class="fa fa-close"></i> Start date is required
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="finish">Finish</label></div>
                    <div class="ui-grid-col-8">
                        <p-calendar formControlName="finish" [(ngModel)]="selected.discountFinishAt" dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['finish'].valid&&dataform.controls['finish'].dirty">
                            <i class="fa fa-close"></i> Finish date is required
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12"><h4>TYPE OF DISCOUNT</h4></div>
                </div>
                <div class="ui-grid-row" *ngIf="selected.discountPrice<1">
                    <div class="ui-grid-col-4"><label for="percentage">percentage %</label></div>
                    <div class="ui-grid-col-8">
                        <input pInputText type="number" formControlName="percentage" [(ngModel)]="selected.discountPercentage" min="0" max="100"/>
                    </div>
                </div>
                <div class="ui-grid-row" *ngIf="selected.discountPercentage<1">
                    <div class="ui-grid-col-4"><label for="price">fixed-price</label></div>
                    <div class="ui-grid-col-8">
                        <input pInputText type="number" formControlName="price" [(ngModel)]="selected.discountPrice" min="0"/>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <button *ngIf="selected.discountId>0" type="button" pButton icon="fa-trash-o" class="ui-button-secondary" (click)="deleteClick()" label="Delete"></button>
                    </div>
                    <div class="ui-grid-col-4"></div>
                    <div class="ui-grid-col-4">
                        <button type="button" pButton icon="fa-save" class="ui-button-success" (click)="saveClick()" label="Save" [disabled]="!dataform.valid"></button>
                    </div>
                </div>
            </div>
        </form>
    </p-panel>
</div>