body {
  padding-top: 60px;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navigationLinkButton:hover {
    cursor: pointer;
}

a {
    color: #333;
    text-decoration: none; 
}

a:hover{
    text-decoration: none; 
}

.footer {
  padding: 40px;
  color: #ccc;
  text-align: center;
  font-size: small;
}

.nav li a i {
  margin-right: 10px;
}

.loading {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  height: 50px;
}

.ui-growl {
  margin-top: 40px;
}

body .ui-widget-header {
  border: 0;
  background-color: transparent;
  padding: 10px 0;
}

body .ui-toolbar-group-right button,
body .ui-toolbar-group-right i {
  margin-left: 10px;
}

.ui-widget-content {
  border: 1px solid #eee !important
}

.ui-datatable {
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.ui-datatable .ui-datatable-thead > tr > th {
  border-style: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ui-datatable .ui-datatable-data > tr > td {
  border-color: #eee;
  border-style: solid;
  border-left-width: 1px;
}

.noprint {
  margin-top: 10px;
}

@media print {
  body {
    padding-top: 0;
  }
  header nav, footer, .noprint {
    display: none;
  }
  thead { display: table-header-group; }
  tfoot { display: table-footer-group; }
  tbody { display: table-row-group; }
}