body {
  padding-top: 60px;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navigationLinkButton:hover {
    cursor: pointer;
}

a {
    color: #333;
    text-decoration: none; 
}

a:hover{
    text-decoration: none; 
}

.footer {
  padding: 20px;
  color: #ccc;
  text-align: center;
  font-size: small;
}

.nav li a i {
  margin-right: 10px;
}

.ui-dialog {
  width: 75% !important;
}

.global-search {
  float: right;
  margin-top: 10px;
}

.ui-growl {
  margin-top: 40px;
}

body .ui-widget-header {
  border: none;
  margin-bottom: 10px;
  padding: 0px;
}

body .ui-toolbar-group-right button,
body .ui-toolbar-group-right i {
  margin-left: 10px;
}

.aspan {
    padding: 5px 10px;
    cursor: pointer;
}

.aspan:hover {
    font-weight: bold;
    background-color: whitesmoke;
}

.ui-toolbar-group-left span {
  margin-right: 10px;
}
