body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .mat-sidenav {
    width: 50vw;
    max-width: 400px;
    padding: 1vw;
    img {
      margin-left: 10px;
      margin-top: 10px;
      height: 75px;
    }
    .mat-button {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
    .mat-list-item {
      border-bottom: thin ridge gray;
    }
  }

  .app-content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    height: 92vh;
  }

  .mat-toolbar {
    background: whitesmoke url('/assets/latest.jpg') no-repeat left top;
    height: 8vh;

    .mat-icon {
      cursor: pointer;
    }

    .app-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  h1 {
    font-size: 20px;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }
}

// stretch to screen size in fullscreen mode
.app-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}