<p-confirmDialog header="Confirmation delete on cascade" icon="fa-trash" [responsive]="true"></p-confirmDialog>

<div class="container-fluid">

    <h2>Account</h2>
    <p>Items count: {{totalRecords}}</p>
    <hr />

   <p-toolbar>
        <div class="ui-toolbar-group-left">
            <input #gb type="text" placeholder="Global search" class="ui-inputtext ui-corner-all ui-state-default ui-widget">          
            <i class="fa fa-search"></i>
        </div>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" (click)="addClick()" class="ui-button-primary" icon="fa-plus-square"></button>
            <button pButton type="button" (click)="editClick()" class="ui-button-primary" icon="fa-edit"></button>
            <i class="fa fa-bars"></i>
            <button pButton type="button" (click)="deleteClick()" class="ui-button-danger" icon="fa-trash"></button>
        </div>
    </p-toolbar>

    <p *ngIf="!accounts"><em>Loading...</em></p>

    <p-dataTable [style]="{'width': '100%'}" [value]="accounts" selectionMode="single" [(selection)]="selected"
        [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5" [rowsPerPageOptions]="[15,30,50,100]" 
        [globalFilter]="gb" resizableColumns="true" columnResizeMode="expand" #dt>
        <p-column field="uniqueID" header="Id" [sortable]="true"></p-column>
        <p-column field="username" header="Username" [sortable]="true"></p-column>
        <p-column field="firstname" header="Name" [sortable]="true"></p-column>
        <p-column field="lastname" header="Lastname" [sortable]="true"></p-column>
        <p-column field="email" header="Email" [sortable]="true"></p-column>
    </p-dataTable>

    <p-dialog header="Account" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="dataform">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="selected">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label>Id</label></div>
                <div class="ui-grid-col-8">{{selected.uniqueID}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="firstname">Firstname</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="firstname" [(ngModel)]="selected.firstname"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['firstname'].valid&&dataform.controls['firstname'].dirty">
                        <i class="fa fa-close"></i> Name is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="lastname">Lastname</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="lastname" [(ngModel)]="selected.lastname"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['lastname'].valid&&dataform.controls['lastname'].dirty">
                        <i class="fa fa-close"></i> Lastname is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="email">Email</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="email" [(ngModel)]="selected.email" type="email"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['email'].valid&&dataform.controls['email'].dirty">
                        <i class="fa fa-close"></i> Email is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="username">Username</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="username" [(ngModel)]="selected.username"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['username'].valid&&dataform.controls['username'].dirty">
                        <i class="fa fa-close"></i> Username is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="password">Password</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="password" [(ngModel)]="selected.password" type="password"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['password'].valid&&dataform.controls['password'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="dataform.controls['password'].errors['required']">Password is required</span>
                        <span *ngIf="dataform.controls['password'].errors['minlength']">Must be longer than 6 characters</span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="isAdmin">Administrator</label></div>
                <div class="ui-grid-col-8"><p-inputSwitch onLabel="Yes" offLabel="No" formControlName="isAdmin" [(ngModel)]="selected.isAdmin"></p-inputSwitch></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-8"></div>
                <div class="ui-grid-col-4">
                    <button type="button" pButton icon="fa-save" (click)="saveClick()" label="Save" [disabled]="!dataform.valid"></button>
                </div>
            </div>
        </div>
    </form>
    </p-dialog>
 </div>