<div class="container-fluid">

    <h2>MyInfo</h2>
 
    <form [formGroup]="dataform">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="myinfo">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label>Id</label></div>
                <div class="ui-grid-col-8">{{myinfo.uniqueID}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label>Facebook</label></div>
                <div class="ui-grid-col-8">{{myinfo.facebookID}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label>Google</label></div>
                <div class="ui-grid-col-8">{{myinfo.googleID}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="firstname">Firstname</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="firstname" [(ngModel)]="myinfo.firstname"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['firstname'].valid&&dataform.controls['firstname'].dirty">
                        <i class="fa fa-close"></i> Name is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="lastname">Lastname</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="lastname" [(ngModel)]="myinfo.lastname"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['lastname'].valid&&dataform.controls['lastname'].dirty">
                        <i class="fa fa-close"></i> Lastname is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="email">Email</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="email" [(ngModel)]="myinfo.email" type="email"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['email'].valid&&dataform.controls['email'].dirty">
                        <i class="fa fa-close"></i> Email is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="username">Username</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="username" [(ngModel)]="myinfo.username"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['username'].valid&&dataform.controls['username'].dirty">
                        <i class="fa fa-close"></i> Username is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="password">Password</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="password" [(ngModel)]="myinfo.password" type="password"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['password'].valid&&dataform.controls['password'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="dataform.controls['password'].errors['required']">Password is required</span>
                        <span *ngIf="dataform.controls['password'].errors['minlength']">Must be longer than 6 characters</span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-8"></div>
                <div class="ui-grid-col-4">
                    <button type="button" pButton icon="fa-save" (click)="saveClick()" label="Save" [disabled]="!dataform.valid"></button>
                </div>
            </div>
        </div>
    </form>
 </div>