{{>header}}

{{^authenticated}}

    <h2>Webretail RMS</h2>

    <br/>

    <h4>What is Webretail Retail Management System (RMS)?</h4>
    <ul>
        <li>Webretail RMS is a complete POS solution for small and midsize retailers operating everything from a single store to a whole chain. It is comprehensive and scalable for those businesses focusing on significant growth.</li>
        <li>It offers advanced functionality such as multidimensional inventory management, customized reporting, advanced purchasing, and receivables management. And Webretail RMS integrates with well-known financial packages you may be using now.</li>
        <li>Webretail RMS can be customized for your specific business requirements, providing you with the investment protection of a flexible solution that adapts to meet demanding retail needs.</li>
    </ul>

    <hr/>
    <h3>With Webretail RMS, you get the functionality to:</h3>
    <hr/>

    <h4>Streamline operations</h4>
    <ul>
        <li>For single stores or multiple independently operated stores</li>
        <li>Efficiently manage and track inventory within each store</li>
        <li>Automatically generate POs based on reorder points and stock levels</li>
        <li>View sales and inventory information in real-time, modifiable reports</li>
        <li>Speed checkout with built-in credit/debit card processing services</li>
        <li>Manage inventory and customer information across multiple stores</li>
        <li>Manage pricing and promotions from the head office</li>
        <li>Manage multiple item dimensions—color, size, and style</li>
        <li>Automatically break down cases into single units</li>
        <li>Assign field-level access to service employees</li>
        <li>Use a touch screen to speed transactions</li>
        <li>Suspend and resume transactions</li>
    </ul>

    <h4>Improve profit margins</h4>
    <ul>
        <li>Include cashier accountability by tracking performed tasks</li>
        <li>Design custom sales promotions</li>
        <li>Create inventory movement reports</li>
        <li>Identify best-selling items</li>
        <li>Upsell and cross-sell your customers</li>
        <li>Track work orders, quotes, back orders, and layaways</li>
        <li>Manage customer accounts receivable</li>
        <li>Manage gift card, assembly, weighed, and gasoline item types</li>
    </ul>

{{/authenticated}}

{{#authenticated}}

    <h1>Hi!</h1>
    <p>Your unique account ID is: <code>{{accountID}}</code></p>
    <p>Check out the following resources:</p>
    <ul>
        <li><a href="/api/account">Accounts</a></li>
        <li><a href="/api/brand">Brands</a></li>
        <li><a href="/api/category">Categories</a></li>
        <li><a href="/api/attribute">Attributes</a></li>
        <li><a href="/api/attributevalue">AttributeValues</a></li>
        <li><a href="/api/product">Products</a></li>
        <li><a href="/api/article">Articles</a></li>
        <li><a href="/api/publication">Publications</a></li>
        <li><a href="https://github.com/gerardogrisolini/Webretail">Webretail on GitHub</a></li>
    </ul>

{{/authenticated}}

{{>footer}}
