<p-confirmDialog header="Confirmation delete on cascade" icon="fa-trash-o" [responsive]="true"></p-confirmDialog>
<img *ngIf="!attributes" src="/assets/loading.gif" class="loading">

<div class="container-fluid">

     <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" label="{{totalRecords}} items" title="Add item" (click)="addClick()" class="ui-button-primary" icon="fa-plus"></button>
            <button pButton type="button" label="Edit" title="Edit item" (click)="editClick()" class="ui-button-primary" icon="fa-edit"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gba type="text" pInputText placeholder="Search" style="width: 180px">
        </div>
    </p-toolbar>

    <p-dataTable *ngIf="!displayPanel" [responsive]="true" [value]="attributes"
        selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)"
        [globalFilter]="gba" #dt>
        <p-column field="attributeId" header="Id" [style]="{'width':'10%'}" [sortable]="true"></p-column>
        <p-column field="attributeName" header="Name" [sortable]="true"></p-column>
    </p-dataTable>

    <p-panel *ngIf="displayPanel">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:20px;display:inline-block;margin-top:6px"><b>Attribute</b></span>
                <button pButton type="button" label="Close" (click)="closeClick()" style="float: right" class="ui-button-warning" icon="fa-close"></button>
            </div>
        </p-header>
        <form [formGroup]="dataform">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="selected">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label>Id</label></div>
                    <div class="ui-grid-col-8">{{selected.attributeId}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="name">Name</label></div>
                    <div class="ui-grid-col-8">
                        <input pInputText formControlName="name" [(ngModel)]="selected.attributeName"/>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
                            <i class="fa fa-close"></i> Name is required
                        </div>
                </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <button *ngIf="selected.attributeId>0" type="button" pButton icon="fa-trash-o" class="ui-button-secondary" (click)="deleteClick()" label="Delete"></button>
                    </div>
                    <div class="ui-grid-col-4"></div>
                    <div class="ui-grid-col-4">
                        <button type="button" pButton icon="fa-save" (click)="saveClick()" label="Save" [disabled]="!dataform.valid"></button>
                    </div>
                </div>
            </div>
        </form>
    </p-panel>

</div>
<br/>
<app-attributevalue></app-attributevalue>