<img *ngIf="selected&&!values" src="/assets/loading.gif" class="loading">

<div class="container-fluid">
    
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" label="{{totalValues}} values" title="Add value" (click)="addValueClick()" class="ui-button-primary" icon="fa-plus"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gbv type="text" pInputText placeholder="Search" style="width: 180px">
        </div>
    </p-toolbar>

    <p-dataTable *ngIf="!displayPanelValue" [responsive]="true" [value]="values"
        selectionMode="single" [(selection)]="selectedValue" (onRowSelect)="onRowValueSelect($event)"
        [globalFilter]="gbv" #dt>
        <p-column field="attributeValueId" header="Id" [style]="{'width':'100px'}" [sortable]="true"></p-column>
        <p-column field="attributeValueCode" header="Code" [sortable]="true"></p-column>
        <p-column field="attributeValueName" header="Name" [sortable]="true"></p-column>
    </p-dataTable>

    <p-panel *ngIf="displayPanelValue">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:20px;display:inline-block;margin-top:6px"><b>Attribute Value</b></span>
                <button pButton type="button" label="Close" (click)="closeValueClick()" style="float: right" class="ui-button-warning" icon="fa-close"></button>
            </div>
        </p-header>
        <form [formGroup]="dataformValue">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label>Id</label></div>
                    <div class="ui-grid-col-8">{{selectedValue.attributeValueId}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="id">Attribute</label></div>
                    <div class="ui-grid-col-8">{{selected.attributeName}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="code">Code</label></div>
                    <div class="ui-grid-col-8">
                        <input pInputText formControlName="code" [(ngModel)]="selectedValue.attributeValueCode"/>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataformValue.controls['code'].valid&&dataformValue.controls['code'].dirty">
                            <i class="fa fa-close"></i>
                            <span *ngIf="dataformValue.controls['code'].errors['required']">Code is required</span>
                            <span *ngIf="dataformValue.controls['code'].errors['maxlength']">Must be shorter than 6 characters</span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="name">Name</label></div>
                    <div class="ui-grid-col-8">
                        <input pInputText formControlName="name" [(ngModel)]="selectedValue.attributeValueName"/>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataformValue.controls['name'].valid&&dataformValue.controls['name'].dirty">
                            <i class="fa fa-close"></i> Name is required
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <button *ngIf="selectedValue.attributeValueId>0" type="button" pButton icon="fa-trash-o" class="ui-button-primary" (click)="deleteValueClick()" label="Delete"></button>
                    </div>
                    <div class="ui-grid-col-4"></div>
                    <div class="ui-grid-col-4">
                        <button type="button" pButton icon="fa-save" (click)="saveValueClick()"  class="ui-button-info" label="Save" [disabled]="!dataformValue.valid"></button>
                    </div>
                </div>
            </div>
        </form>
    </p-panel>

</div>