<p-dataTable *ngIf="isOpen" [responsive]="true" [value]="products | priceFilter:sliderValue | categoryFilter:categoryValue" 
    selectionMode="single" (onRowSelect)="onRowSelect($event)"
    expandableRows="true" (onRowExpand)="onRowExpand($event)"
    [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [pageLinks]="5" #dt>
    <p-column field="productCode" header="Code" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="productName" header="Name" [sortable]="true" [filter]="true" filterMatchMode="in" [style]="{'overflow':'visible'}">
        <template pTemplate="filter" let-col>
            <p-multiSelect [options]="names" defaultLabel="All" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
        </template>
    </p-column>
    <p-column field="brand.brandName" header="Brand" [sortable]="true" [filter]="true" filterMatchMode="equals">
        <template pTemplate="filter" let-col>
            <p-dropdown [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </template>
    </p-column>     
    <p-column header="Categories" [sortable]="true" [filter]="true" [style]="{'overflow':'visible'}">
        <template pTemplate="filter" let-col>
            <p-dropdown [options]="categories" [style]="{'width':'100%'}" [(ngModel)]="categoryValue" styleClass="ui-column-filter"></p-dropdown>
        </template>
        <template let-col let-data="rowData" pTemplate="body">
            <li *ngFor="let item of data.categories">{{item.category.categoryName}}</li>
        </template>
    </p-column>
    <p-column field="sellingPrice" header="Price ({{sliderValue||'No Filter'}})" [sortable]="true" [filter]="true" filterMatchMode="equals">
        <template pTemplate="filter" let-col>
            <i class="fa fa-close" (click)="sliderValue=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
            <p-slider [style]="{'margin-top':'14px','margin-bottom':'5px'}" [(ngModel)]="sliderValue" [min]="5" [max]="1000"></p-slider>
        </template>
        <template let-col let-data="rowData" pTemplate="body">
            {{data.sellingPrice | currency: 'EUR' : true}}
        </template>
    </p-column>
    <p-column expander="true" [style]="{'width':'60px'}" styleClass="col-icon">
        <template pTemplate="header">
            <button pButton type="button" (click)="hidePickerClick()" class="ui-button-secondary" icon="fa-close"></button>
        </template>        
    </p-column>
    <template pTemplate="rowexpansion">
        <div style="text-align: center">
            <img *ngIf="!articleForm" src="/assets/loading.gif">
            <table *ngIf="articleForm" class="table" cellpadding="2" cellspacing="2">    
                <tr> 
                    <td *ngFor="let h of articleForm.header" align="center" style="background-color: whitesmoke"><strong>{{h}}</strong></td> 
                </tr> 
                <tbody> 
                    <tr *ngFor="let item of articleForm.body"> 
                        <td *ngFor="let col of item" align="center"> 
                            <span *ngIf="col.id===0">{{col.value}}</span>
                            <p-spinner *ngIf="col.id>0" pTooltip="{{col.value}} : {{col.stock}} - {{col.booked}}" tooltipPosition="left" size="4" [(ngModel)]="col.data" [min]="0"></p-spinner>
                        </td> 
                    </tr> 
                </tbody>
            </table>
            <button pButton label="Pickup" type="button" (click)="pickerClick()" class="ui-button-primary" icon="fa-reply-all"></button>
        </div>
    </template>
</p-dataTable>