<p-growl [value]="msgs"></p-growl>

<div class="container-fluid">

    <h1><img src="assets/logo.jpg" height="72"> Authentication</h1>
    <hr />

    <form [formGroup]="userform">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                <label for="username">Email</label>
            </div>
            <div class="ui-grid-col-6">
                <input pInputText [(ngModel)]="user.username" type="email" formControlName="username"/>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['username'].valid&&userform.controls['username'].dirty">
                    <i class="fa fa-close"></i>
                    Email is required
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                <label for="password">Password</label>
            </div>
            <div class="ui-grid-col-6">
                <input pInputText [(ngModel)]="user.password" type="password" formControlName="password"/>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
                    <i class="fa fa-close"></i>
                    <span *ngIf="userform.controls['password'].errors['required']">Password is required</span>
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-2">
                <button type="button" pButton label="Login" (click)="login()" icon="fa-sign-in" [disabled]="!userform.valid"></button>
            </div>
            <div class="ui-grid-col-8"></div>
        </div>
    </div>
    </form>

</div>