<p-growl [value]="msgs"></p-growl>
<img *ngIf="!productInfo||!articleForm||isBusy" src="/assets/loading.gif" class="loading">

<div class="container-fluid">

    <button pButton type="button" title="Products" style="position: absolute; top: 84px; left: 30px;" (click)="cancelClick()" class="ui-button-secondary" icon="fa-reply"></button>
    <h1 style="margin-left: 40px">Product</h1>

    <p-toolbar>
        <div class="ui-toolbar-group-left">
            Code: {{product?.productCode}}
        </div>
        <div class="ui-toolbar-group-right">
            <p-splitButton label="Edit" icon="fa-edit" (onClick)="editClick()" [(disabled)]="isBusy" [model]="buttons"></p-splitButton>
        </div>
    </p-toolbar>

    <p-tree *ngIf="!display" [value]="productInfo" layout="horizontal" selectionMode="single" [(selection)]="selectedNode"></p-tree>
    <!--<div style="margin-top:8px">Selected Node => {{selectedNode ? selectedNode.type + ' : ' + selectedNode.data : 'none'}}</div>-->

    <p-panel *ngIf="display">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:18px;display:inline-block;margin-top:6px">Edit node</span>
                <button pButton type="button" label="Close" (click)="closeClick()" style="float: right" class="ui-button-secondary" icon="fa-close"></button>
            </div>
        </p-header>
        <p-pickList [source]="nodesSource" [target]="nodesTarget" [responsive]="true" [showTargetControls]="false"
            (onMoveToSource)="removeNodes($event)" (onMoveToTarget)="addNodes($event)">
            <ng-template let-attr pTemplate="item">
                <span>{{attr.data}}</span> | <span>{{attr.label}}</span>
            </ng-template>
        </p-pickList>
    </p-panel>

    <table *ngIf="articleForm" class="table" cellpadding="2" cellspacing="2">
        <thead>
            <tr> 
                <td *ngFor="let h of articleForm.header" align="center" style="background-color: whitesmoke"><strong>{{h}}</strong></td> 
            </tr>
        </thead>
        <tfoot>
            <tr> 
                <td style="background-color: whitesmoke;text-align: center;"><strong>{{totalRecords}}</strong><br/>items</td> 
            </tr>
        </tfoot>
        <tbody> 
            <tr *ngFor="let item of articleForm.body"> 
                <td *ngFor="let col of item" align="center">
                    <input *ngIf="col.id>0" pInputText type="text" size="13" title="{{col.value}}" [(ngModel)]="col.value" />
                    <span *ngIf="col.id===0" title="{{col.value}}">{{col.value}}</span> 
                </td> 
            </tr> 
        </tbody>
    </table>
</div>
