<mat-card>
<mat-card-content>
    <form [formGroup]="dataform">
    <mat-form-field *ngFor="let a of product.attributes" style="width: 100%">
        <mat-select formControlName="{{a.attribute.attributeName}}" placeholder="{{a.attribute.translations | translate : a.attribute.attributeName}}">
        <mat-option *ngFor="let v of a.attributeValues" [value]="v.attributeValue.attributeValueId">
            {{v.attributeValue.translations | translate : v.attributeValue.attributeValueName}}
        </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%">
        <input matInput type="number" min="1" formControlName="quantity" placeholder="Quantity"/>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="pickerClick()" [disabled]="!dataform.valid"><mat-icon>add_shopping_cart</mat-icon> Add to Cart</button>       
    </form>
</mat-card-content>
</mat-card>
