<p-progressSpinner *ngIf="!tags||selected&&selected.tagGroupId>0&&!values" class="loading" strokeWidth="6" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>

<div class="container-fluid">

     <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" label="{{totalRecords}} items" title="Add item" (click)="addClick()" class="ui-button-primary" icon="fa-plus"></button>
            <button pButton type="button" label="Edit" title="Edit item" (click)="editClick()" class="ui-button-primary" icon="fa-edit"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText placeholder="Search" style="width: 180px">
        </div>
    </p-toolbar>

    <p-dataTable *ngIf="!displayPanel" [responsive]="true" [value]="tags"
        selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)"
        [globalFilter]="gb" #dt>
        <p-column field="tagGroupId" header="Id" [style]="{'width':'10%'}" [sortable]="true"></p-column>
        <p-column field="tagGroupName" header="Name" [sortable]="true"></p-column>
    </p-dataTable>

    <p-panel *ngIf="displayPanel">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:20px;display:inline-block;margin-top:6px"><b>Tag</b></span>
                <button pButton type="button" label="Close" (click)="closeClick()" style="float: right" class="ui-button-warning" icon="fa-close"></button>
            </div>
        </p-header>
        <form [formGroup]="dataform">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="selected">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label>Id</label></div>
                    <div class="ui-grid-col-8">{{selected.tagGroupId}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="name">Name</label></div>
                    <div class="ui-grid-col-8">
                        <input pInputText formControlName="name" [(ngModel)]="selected.tagGroupName"/>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
                            <i class="fa fa-close"></i> Name is required
                        </div>
                </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <button *ngIf="selected.tagGroupId>0" type="button" pButton icon="fa-trash-o" class="ui-button-secondary" (click)="deleteClick()" label="Delete"></button>
                    </div>
                    <div class="ui-grid-col-4"></div>
                    <div class="ui-grid-col-4">
                        <button type="button" pButton icon="fa-save" (click)="saveClick()" label="Save" [disabled]="!dataform.valid"></button>
                    </div>
                </div>
            </div>
        </form>
    </p-panel>
    
</div>
<br>
<div class="container-fluid">
    
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" label="{{totalValues}} values" title="Add value" (click)="addValueClick()" class="ui-button-primary" icon="fa-plus"></button>
        </div>
    </p-toolbar>

    <p-dataTable *ngIf="!displayPanelValue" [responsive]="true" [value]="values"
        selectionMode="single" [(selection)]="selectedValue" (onRowSelect)="onRowValueSelect($event)"
        [globalFilter]="gb" #dt>
        <p-column field="tagValueId" header="Id" [style]="{'width':'100px'}" [sortable]="true"></p-column>
        <p-column field="tagValueCode" header="Code" [sortable]="true"></p-column>
        <p-column field="tagValueName" header="Name" [sortable]="true"></p-column>
    </p-dataTable>

    <p-panel *ngIf="displayPanelValue">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:20px;display:inline-block;margin-top:6px"><b>Tag Value</b></span>
                <button pButton type="button" label="Close" (click)="closeValueClick()" style="float: right" class="ui-button-secondary" icon="fa-close"></button>
            </div>
        </p-header>
        <form [formGroup]="dataformValue">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label>Id</label></div>
                    <div class="ui-grid-col-8">{{selectedValue.tagValueId}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="id">Tag</label></div>
                    <div class="ui-grid-col-8">{{selected.tagGroupName}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="code">Code</label></div>
                    <div class="ui-grid-col-8">
                        <input pInputText formControlName="code" [(ngModel)]="selectedValue.tagValueCode"/>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataformValue.controls['code'].valid&&dataformValue.controls['code'].dirty">
                            <i class="fa fa-close"></i>
                            <span *ngIf="dataformValue.controls['code'].errors['required']">Code is required</span>
                            <span *ngIf="dataformValue.controls['code'].errors['maxlength']">Must be shorter than 6 characters</span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="name">Name</label></div>
                    <div class="ui-grid-col-8">
                        <input pInputText formControlName="name" [(ngModel)]="selectedValue.tagValueName"/>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataformValue.controls['name'].valid&&dataformValue.controls['name'].dirty">
                            <i class="fa fa-close"></i> Name is required
                        </div>
                </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <button *ngIf="selectedValue.tagValueId>0" type="button" pButton icon="fa-trash-o" class="ui-button-secondary" (click)="deleteValueClick()" label="Delete"></button>
                    </div>
                    <div class="ui-grid-col-4"></div>
                    <div class="ui-grid-col-4">
                        <button type="button" pButton icon="fa-save" (click)="saveValueClick()" label="Save" [disabled]="!dataformValue.valid"></button>
                    </div>
                </div>
            </div>
        </form>
    </p-panel>

</div>