<p-confirmDialog header="Confirmation delete on cascade" icon="fa-trash" [responsive]="true"></p-confirmDialog>

<div class="container-fluid">
    <div class="global-search">
        <i class="fa fa-search"></i>
        <input #gb type="text" placeholder="Global search" class="ui-inputtext ui-corner-all ui-state-default ui-widget">          
    </div>

    <h2>Attributes</h2>
  
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            Items count: {{totalRecords}}
        </div>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" (click)="addClick()" class="ui-button-primary" icon="fa-plus-square"></button>
            <button pButton type="button" (click)="editClick()" class="ui-button-primary" icon="fa-edit"></button>
            <i class="fa fa-bars"></i>
            <button pButton type="button" (click)="deleteClick()" class="ui-button-danger" icon="fa-trash"></button>
        </div>
    </p-toolbar>

    <p *ngIf="!attributes"><em>Loading...</em></p>

    <p-dataTable [style]="{'width': '100%'}" [value]="attributes" 
        selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)"
        [globalFilter]="gb" #dt>
        <p-column field="attributeId" header="Id" [style]="{'width':'100px'}" [sortable]="true"></p-column>
        <p-column field="attributeName" header="Name" [sortable]="true"></p-column>
   </p-dataTable>

    <p-dialog header="Attribute" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="dataform">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="selected">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label>Id</label></div>
                <div class="ui-grid-col-8">{{selected.attributeId}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="name">Name</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="name" [(ngModel)]="selected.attributeName"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
                        <i class="fa fa-close"></i> Name is required
                    </div>
               </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-8"></div>
                <div class="ui-grid-col-4">
                    <button type="button" pButton icon="fa-save" (click)="saveClick()" label="Save" [disabled]="!dataform.valid"></button>
                </div>
            </div>
        </div>
    </form>
    </p-dialog>
    
</div>

<div class="container-fluid" style="margin-top: 20px">

    <p-toolbar>
        <div class="ui-toolbar-group-left" style="margin-top: 10px">
            <p>Items count: {{totalValues}}</p>
        </div>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" (click)="addValueClick()" class="ui-button-primary" icon="fa-plus-square"></button>
            <button pButton type="button" (click)="editValueClick()" class="ui-button-primary" icon="fa-edit"></button>
            <i class="fa fa-bars"></i>
            <button pButton type="button" (click)="deleteValueClick()" class="ui-button-danger" icon="fa-trash"></button>
        </div>
    </p-toolbar>
    
    <p-dataTable [style]="{'width': '100%'}" [value]="values" selectionMode="single" [(selection)]="selectedValue"
        [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5" [rowsPerPageOptions]="[15,30,50,100]" 
        [globalFilter]="gb" #dt>
        <p-column field="attributeValueId" header="Id" [style]="{'width':'100px'}" [sortable]="true"></p-column>
        <p-column field="attributeValueCode" header="Code" [sortable]="true"></p-column>
        <p-column field="attributeValueName" header="Name" [sortable]="true"></p-column>
    </p-dataTable>

    <p-dialog header="Attribute Value" [(visible)]="displayDialogValue" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="dataformValue">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="selectedValue">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label>Id</label></div>
                <div class="ui-grid-col-8">{{selectedValue.attributeValueId}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="id">Attribute</label></div>
                <div class="ui-grid-col-8">{{selected.attributeName}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="code">Code</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="code" [(ngModel)]="selectedValue.attributeValueCode"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataformValue.controls['code'].valid&&dataformValue.controls['code'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="dataformValue.controls['code'].errors['required']">Code is required</span>
                        <span *ngIf="dataformValue.controls['code'].errors['maxlength']">Must be shorter than 6 characters</span>
                    </div>
               </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="name">Name</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="name" [(ngModel)]="selectedValue.attributeValueName"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataformValue.controls['name'].valid&&dataformValue.controls['name'].dirty">
                        <i class="fa fa-close"></i> Name is required
                    </div>
               </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-8"></div>
                <div class="ui-grid-col-4">
                    <button type="button" pButton icon="fa-save" (click)="saveValueClick()" label="Save" [disabled]="!dataformValue.valid"></button>
                </div>
            </div>
        </div>
    </form>
    </p-dialog>

</div>