<div class="container-fluid">
    
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:20px;display:inline-block;margin-top:6px"><b>Import</b></span>
                </div>
        </p-header>
        <form [formGroup]="dataform">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="name">Name</label></div>
                    <div class="ui-grid-col-8">
                        <input pInputText formControlName="name" [(ngModel)]="productName"/>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
                            <i class="fa fa-close"></i> Name is required
                        </div>
                </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <button type="button" pButton icon="fa-save" class="ui-button-success" (click)="importClick()" label="Import" [disabled]="!dataform.valid"></button>
                    </div>
                </div>
            </div>
        </form>

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <span *ngIf="product">{{product.productCode}}</span>
                </div>
            </div>
        </div>
    
    </p-panel>   

</div>
