<img *ngIf="!items" src="/assets/loading.gif" class="loading">

<div class="container-fluid">

    <div class="noprint">
        <button pButton type="button" title="Movements" (click)="cancelClick()" class="ui-button-secondary" style="width:50px" icon="fa-reply"></button>
        <button pButton type="button" label="PDF" title="Pdf document" (click)="pdfClick()" class="ui-button-secondary" icon="fa-file-pdf-o"></button>
    </div>
    <br/><br/>
    <div #doc>
        <div *ngFor="let item of items">
            <span style="font-size: 16px">
                &nbsp;&nbsp;{{item.movementArticleProduct | articleInfo:item.movementArticleBarcode}}
            </span>
            <span style="font-size: 22px">
                <b>&nbsp;&nbsp;{{item.movementArticlePrice | currency: 'EUR' : true}}</b>
            </span>
            <ngx-barcode [bc-width]="4" [bc-height]="220" [bc-font-size]="28" [bc-value]="item.movementArticleBarcode" [bc-display-value]="true"></ngx-barcode>
            <br/>
        </div>
    </div>

</div>