<p-growl [value]="msgs"></p-growl>
<p-blockUI [blocked]="isBusy"></p-blockUI>

<div class="container-fluid">

    <h1 style="margin-left: 40px">Product</h1>
    <button pButton type="button" title="Products" style="position: absolute; top: 85px; left: 30px;" (click)="cancelClick()" class="ui-button-secondary" icon="fa-reply"></button>

    <p-toolbar>
        <div class="ui-toolbar-group-left">
            Code: {{product?.productCode}}
        </div>
        <div class="ui-toolbar-group-right">
            <p-splitButton label="Edit" icon="fa-check" (onClick)="editClick()" [(disabled)]="isBusy" [model]="buttons"></p-splitButton>
        </div>
    </p-toolbar>

    <p *ngIf="!productInfo"><em>Loading...</em></p>
    <p *ngIf="isBusy"><em>Building articles...please wait</em></p>
    <p-tree *ngIf="!display" [value]="productInfo" layout="horizontal" selectionMode="single" [(selection)]="selectedNode"></p-tree>
    <!--<div style="margin-top:8px">Selected Node => {{selectedNode ? selectedNode.type + ' : ' + selectedNode.data : 'none'}}</div>-->

    <p-panel *ngIf="display">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:18px;display:inline-block;margin-top:6px">Edit node</span>
                <button pButton type="button" (click)="closeClick()" style="float: right" class="ui-button-info" icon="fa-close"></button>
            </div>
        </p-header>
        <p-pickList [source]="nodesSource" [target]="nodesTarget" [responsive]="true" [showTargetControls]="false"
        (onMoveToSource)="removeNodes($event)" (onMoveToTarget)="addNodes($event)">
            <template let-attr pTemplate="item">
                <span>{{attr.data}}</span> | <span>{{attr.label}}</span>
            </template>
        </p-pickList>
    </p-panel>
</div>

<div class="container-fluid">
    <h2>Articles</h2>
    <p>Items: {{totalRecords}}</p>
    <p *ngIf="!articles"><em>Loading...</em></p>
    <table *ngIf="articles" class="table" cellpadding="2" cellspacing="2">    
        <tr> 
            <td *ngFor="let h of header" align="center" style="background-color: whitesmoke"><strong>{{h}}</strong></td> 
        </tr> 
        <tbody *ngFor="let item of articles"> 
            <tr> 
                <td *ngFor="let col of item" align="center"> 
                    <span title="{{col.split('#')[1]}}">{{col.split('#')[0]}}</span> 
                </td> 
            </tr> 
        </tbody>
    </table>
</div>
