<p-growl [value]="msgs"></p-growl>
<p-blockUI [blocked]="isBusy"></p-blockUI>

<div class="container-fluid">
    <h2>Product</h2>
    <div class="global-search">
        <p-splitButton label="Edit" icon="fa-check" (onClick)="editClick()" [(disabled)]="isBusy" [model]="buttons"></p-splitButton>
    </div>
    <p>Code: {{product?.productCode}}</p>
    <hr />
    <p *ngIf="!productInfo"><em>Loading...</em></p>
    <p *ngIf="isBusy"><em>Building articles...please wait</em></p>
    <p-tree [value]="productInfo" layout="horizontal" selectionMode="single" [(selection)]="selectedNode"></p-tree>
    <!--<div style="margin-top:8px">Selected Node => {{selectedNode ? selectedNode.type + ' : ' + selectedNode.data : 'none'}}</div>-->
</div>

<div class="container-fluid">
    <h3>Articles</h3>
    <p>Items count: {{totalRecords}}</p>
    <p *ngIf="!articles"><em>Loading...</em></p>
    <table *ngIf="articles" class="table" cellpadding="2" cellspacing="2">    
        <tr> 
            <td *ngFor="let h of header" align="center" style="background-color: lightgray"><strong>{{h}}</strong></td> 
        </tr> 
        <tbody *ngFor="let item of articles"> 
            <tr> 
                <td *ngFor="let col of item" align="center"> 
                    <span>{{col}}</span> 
                </td> 
            </tr> 
        </tbody>
    </table>
</div>

<p-dialog header="Edit node" [modal]=true showEffect="fade" [(visible)]="display">
    <p-pickList [source]="nodesSource" [target]="nodesTarget" [responsive]="true" [showTargetControls]="false"
    (onMoveToSource)="removeNodes($event)" (onMoveToTarget)="addNodes($event)">
        <template let-attr pTemplate="item">
            <span>{{attr.data}}</span> | <span>{{attr.label}}</span>
        </template>
    </p-pickList>
</p-dialog>
