<img *ngIf="!items" src="assets/loading.gif" class="loading">

<div class="container-fluid">

    <div class="noprint">
        <button pButton type="button" title="Movements" (click)="cancelClick()" class="ui-button-secondary" icon="fa-reply"></button>
        <button pButton type="button" label="Print" title="Print barcode" (click)="printClick()" class="ui-button-secondary" icon="fa-print"></button>
    </div>
    
    <table style="width: 100%">    
        <tbody> 
            <tr *ngFor="let item of items"> 
                <td align="center">{{item.barcode}}</td> 
            </tr> 
        </tbody>
    </table>

</div>