<p-confirmDialog header="Confirmation delete on cascade" icon="fa-trash" [responsive]="true"></p-confirmDialog>

<div class="container-fluid">

    <h2>Movements</h2>
    
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            Items count: {{totalRecords}}
        </div>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" (click)="addClick()" class="ui-button-primary" icon="fa-plus-square"></button>
            <button pButton type="button" (click)="editClick()" class="ui-button-primary" icon="fa-edit"></button>
            <button pButton type="button" (click)="openClick()" class="ui-button-info" icon="fa-folder-open"></button>
            <i class="fa fa-bars"></i>
            <button pButton type="button" (click)="deleteClick()" class="ui-button-danger" icon="fa-trash"></button>
        </div>
    </p-toolbar>

    <p *ngIf="!movements"><em>Loading...</em></p>

    <p-dataTable [style]="{'width': '100%'}" [value]="movements"
        selectionMode="single" [(selection)]="selected"
        [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5" [rowsPerPageOptions]="[15,30,50,100]" #dt>
        <p-column field="movementId" header="Id" [style]="{'width':'100px'}" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="movementDesc" header="Description" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="causal.causalName" header="Causal" [sortable]="true" [filter]="true" [style]="{'overflow':'visible','width':'20%'}" filterMatchMode="equals">
            <template pTemplate="filter" let-col>
                <p-dropdown [options]="causalsFiltered" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </template>
        </p-column>
        <p-column field="store.storeName" header="Store" [sortable]="true" [filter]="true" [style]="{'overflow':'visible','width':'20%'}" filterMatchMode="equals">
            <template pTemplate="filter" let-col>
                <p-dropdown [options]="storesFiltered" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </template>
        </p-column>
    </p-dataTable>

    <p-dialog header="Movement" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="dataform">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="selected">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label>Id</label></div>
                <div class="ui-grid-col-8">{{selected.movementId}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="causal">Causal</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown [options]="causals" formControlName="causal" [(ngModel)]="selected.causal" [style]="{'width':'100%'}" styleClass="ui-column-filter"></p-dropdown>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['causal'].valid&&dataform.controls['causal'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="dataform.controls['causal'].errors['required']">Causal is required</span>
                    </div>
               </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="store">Store</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown [options]="stores" formControlName="store" [(ngModel)]="selected.store" [style]="{'width':'100%'}" styleClass="ui-column-filter"></p-dropdown>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['store'].valid&&dataform.controls['store'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="dataform.controls['store'].errors['required']">Store is required</span>
                    </div>
               </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="desc">Description</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="desc" [(ngModel)]="selected.movementDesc"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['desc'].valid&&dataform.controls['desc'].dirty">
                        <i class="fa fa-close"></i> Description is required
                    </div>
               </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="note">Note</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="note" [(ngModel)]="selected.movementNote"/>
               </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-8"></div>
                <div class="ui-grid-col-4">
                    <button type="button" pButton icon="fa-save" (click)="saveClick()" label="Save" [disabled]="!dataform.valid"></button>
                </div>
            </div>
        </div>
    </form>
    </p-dialog>

</div>