<p-confirmDialog header="Confirmation delete on cascade" icon="fa-trash-o" [responsive]="true"></p-confirmDialog>

<div class="container-fluid">
    <div class="global-search">
        <i class="fa fa-search"></i>
        <input #gb type="text" placeholder="Global search" class="ui-inputtext ui-corner-all ui-state-default ui-widget">          
    </div>

    <h2>Causals</h2>
   
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            Items: {{totalRecords}}
        </div>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" (click)="addClick()" class="ui-button-primary" icon="fa-plus-square"></button>
            <button pButton type="button" (click)="editClick()" class="ui-button-primary" icon="fa-edit"></button>
            <button pButton type="button" (click)="deleteClick()" class="ui-button-danger" icon="fa-trash-o"></button>
        </div>
    </p-toolbar>

    <p *ngIf="!causals"><em>Loading...</em></p>

    <p-dataTable [style]="{'width': '100%'}" [value]="causals" selectionMode="single" [(selection)]="selected"
        [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5" [rowsPerPageOptions]="[15,30,50,100]" 
        [globalFilter]="gb" #dt>
        <p-column field="causalId" header="Id" [style]="{'width':'100px'}" [sortable]="true"></p-column>
        <p-column field="causalName" header="Name" [sortable]="true"></p-column>
        <p-column [style]="{'width':'120px','text-align':'center'}" field="quantity" header="Quantity" [sortable]="true"></p-column>
        <p-column [style]="{'width':'120px','text-align':'center'}" field="booked" header="Booked" [sortable]="true"></p-column>
    </p-dataTable>

    <p-dialog header="Causal" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="dataform">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="selected">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label>Id</label></div>
                <div class="ui-grid-col-8">{{selected.causalId}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="name">Name</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="name" [(ngModel)]="selected.causalName"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
                        <i class="fa fa-close"></i> Name is required
                    </div>
               </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="quantity">Quantity</label></div>
                <div class="ui-grid-col-8">
                    <p-selectButton formControlName="quantity" [options]="operators" [(ngModel)]="selected.quantity"></p-selectButton>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['quantity'].valid&&dataform.controls['quantity'].dirty">
                        <i class="fa fa-close"></i> Quantity is required
                    </div>
               </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="booked">Booked</label></div>
                <div class="ui-grid-col-8">
                    <p-selectButton formControlName="booked" [options]="operators" [(ngModel)]="selected.booked"></p-selectButton>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['booked'].valid&&dataform.controls['booked'].dirty">
                        <i class="fa fa-close"></i> Booked is required
                    </div>
               </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-8"></div>
                <div class="ui-grid-col-4">
                    <button type="button" pButton icon="fa-save" (click)="saveClick()" label="Save" [disabled]="!dataform.valid"></button>
                </div>
            </div>
        </div>
    </form>
    </p-dialog>

</div>