<div *ngIf="product">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>Information</mat-panel-description>
      <mat-panel-title><b>ID: {{product.productCode}}</b></mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <p><span mat-line>BRAND<br/><b>{{product.brand.brandName}}</b></span></p>
        <p><span mat-line>CATEGORIES<br/>
          <li *ngFor="let c of product.categories"><b>{{c.category.translations | translate : c.category.categoryName}}</b></li>
        </span></p>
        <p><span mat-line>DESCRIPTION<br/><b>{{product.translations | translate : product.productName}}</b></span></p>
        <div *ngIf="product.discount;then discount_content else price_content"></div>
        <ng-template #discount_content>
          <p><span mat-line>PRICE<br/>
          <span class="percentage">-{{product.discount.discountPercentage}}%</span>
          <del>{{product.productSellingPrice | currency: 'EUR' : true}}</del>
          <br/><b>{{product.discount.discountPrice | currency: 'EUR' : true}}</b>
          </span></p>
        </ng-template>
        <ng-template #price_content>
          <p><span mat-line>PRICE<br/><b>{{product.productSellingPrice | currency: 'EUR' : true}}</b></span></p>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>

  <article-picker [product]="product" (onPicked)="pickerClick($event)"></article-picker>
  
  <mat-card>
    <mat-card-content>
      <image-slider [slides]="images"></image-slider>
      <!-- <img (click)="cancelClick()" [alt]="product.productName" src="/{{product.medias[0].url}}"> -->
    </mat-card-content>
  </mat-card>
</div>