<div class="app-grid-list">
  <mat-grid-list [cols]="fixedCols" [rowHeight]="fitListHeight" [style.height]="fitListHeight" [style.width]="fitListWidth">
    <mat-grid-tile *ngFor="let product of products" style="cursor: pointer">
      <img routerLink="/product/{{product.productId}}" [alt]="product.productName" [src]="product.medias[0].url | parseUrl">
      <mat-grid-tile-footer>
        <h3 mat-line><strong>{{product.productName}}</strong></h3>
        <span mat-line>{{product.brand.brandName}}</span>
        <div *ngIf="product.discount;then discount_content else price_content"></div>
        <ng-template #discount_content>
          <p><span class="percentage">-{{product.discount.discountPercentage}}%</span>
          <del>{{product.productSellingPrice | currency: 'EUR' : true}}</del>
          <b>{{product.discount.discountPrice | currency: 'EUR' : true}}</b>
          </p>
        </ng-template>
        <ng-template #price_content>
          <p><span mat-line><b>{{product.productSellingPrice | currency: 'EUR' : true}}</b></span></p>
        </ng-template>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
