<div *ngIf="product">
  <article-picker [product]="product" (onPicked)="pickerClick($event)"></article-picker>
  <mat-expansion-panel *ngIf="!isIframe">
    <mat-expansion-panel-header>
      <mat-panel-description>{{ 'Information' | translate }}</mat-panel-description>
      <mat-panel-title><b>SKU: {{product.productCode}}</b></mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <p><span mat-line>{{ 'Brand' | translate }}<br/><b>{{product.brand.brandName}}</b></span></p>
        <p><span mat-line>{{ 'Categories' | translate }}<br/>
          <li *ngFor="let c of product.categories"><b>{{c.category.translations | mytranslate : c.category.categoryName}}</b></li>
        </span></p>
        <p><span mat-line>{{ 'Description' | translate }}<br/><b>{{product.description | mytranslate : product.productName}}</b></span></p>
        <div *ngIf="product.discount.discountId>0;then discount_content else price_content"></div>
        <ng-template #discount_content>
          <p><span mat-line>{{ 'Price' | translate }}<br/>
          <span class="percentage">-{{product.discount.discountPercentage}}%</span>
          <del>{{product.price.selling | currencyFormat}}</del>
          <br/><b>{{product.discount.discountPrice | currencyFormat}}</b>
          </span></p>
        </ng-template>
        <ng-template #price_content>
          <p><span mat-line>{{ 'Price' | translate }}<br/><b>{{product.price.selling | currencyFormat}}</b></span></p>
        </ng-template>
        <image-slider [slides]="images"></image-slider>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</div>
