<p-confirmDialog header="Confirmation delete" icon="fa-trash-o" [responsive]="true"></p-confirmDialog>
<img *ngIf="!items" src="/assets/loading.gif" class="loading">

<div class="container-fluid">

    <button pButton type="button" title="Discounts" style="position: absolute; top: 154px; left: 30px; width:50px;" (click)="cancelClick()" class="ui-button-secondary" icon="fa-reply"></button>

    <p-toolbar *ngIf="item">
        <div class="ui-toolbar-group-left" style="margin-left:60px">
            <span><b>name</b>: {{item.discountName}}</span>
            <br/><span><b>start</b>: {{item.discountStartAt | date: 'yyyy-MM-dd'}}</span>
            <span><b>finish</b>: {{item.discountFinishAt | date: 'yyyy-MM-dd'}}</span>
        </div>
        <div class="ui-toolbar-group-right" style="text-align: right">
            <br>
            <span *ngIf="item.discountPercentage>0"><b>percentage</b>: {{item.discountPercentage}}%</span>
            <span *ngIf="item.discountPrice>0"><b>fixed price</b>: {{item.discountPrice | currency: 'EUR' : true}}</span>
        </div>
    </p-toolbar>

    <p-dataTable *ngIf="!inputComponent.isOpen" [value]="items | priceFilter:sliderValue:'discount':item" 
        selectionMode="multiple" [(selection)]="itemsSelected" [responsive]="true" #dt>
        <p-header>
            <button pButton style="position: absolute;left: 10px; top: 8px;" type="button" title="Article picker" (click)="showPickerClick()" class="ui-button-primary" icon="fa-search-plus"></button>
            <p-chips [(ngModel)]="codes" placeholder="code reading" (onAdd)="addCodes()"></p-chips>
        </p-header>
        <p-footer>
            <button pButton type="button" label="Remove" (click)="removeClick()" [disabled]="itemsSelected.length===0" style="float: left" class="ui-button-secondary" icon="fa-trash"></button>
            <span style="float: right"><b>{{totalRecords}}</b> rows</span>
            <p>&nbsp;</p>
        </p-footer>
        <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>
        <p-column field="discountProduct.productCode" header="Code" [editable]="false" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="discountProduct.productName" header="Name" [editable]="false" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column header="Discount ({{sliderValue||'No Filter'}})"[sortable]="true" [filter]="true">
            <ng-template pTemplate="filter" let-col>
                <i class="fa fa-close" (click)="sliderValue=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
                <p-slider [style]="{'margin-top':'14px','margin-bottom':'5px'}" [(ngModel)]="sliderValue" [min]="5" [max]="1000" styleClass="ui-column-filter"></p-slider>
            </ng-template>
            <ng-template let-col let-data="rowData" pTemplate="body">
                <div *ngIf="item.discountPercentage===0;then discount_content else price_content"></div>
                <ng-template #discount_content>
                    {{(data.discountProduct.productSellingPrice - item.discountPrice) / data.discountProduct.productSellingPrice * 100.0}}%
                </ng-template>
                <ng-template #price_content>
                    {{data.discountProduct.productSellingPrice - (data.discountProduct.productSellingPrice * item.discountPercentage / 100) | currency: 'EUR' : true}}
                </ng-template>
            </ng-template>
        </p-column>
    </p-dataTable>

    <product-picker (onPicked)="pickerClick($event)"></product-picker>
</div>