<p-confirmDialog header="Confirmation delete on cascade" icon="fa-trash-o" [responsive]="true"></p-confirmDialog>

<div class="container-fluid">
    <div class="global-search">
        <i class="fa fa-search"></i>
        <input #gb type="text" placeholder="Global search" class="ui-inputtext ui-corner-all ui-state-default ui-widget">          
    </div>

    <h2>Categories</h2>
    
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            Items: {{totalRecords}}
        </div>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" (click)="addClick()" class="ui-button-primary" icon="fa-plus-square"></button>
            <button pButton type="button" (click)="editClick()" class="ui-button-primary" icon="fa-edit"></button>
            <button pButton type="button" (click)="deleteClick()" class="ui-button-danger" icon="fa-trash-o"></button>
        </div>
    </p-toolbar>

    <p *ngIf="!categories"><em>Loading...</em></p>

    <p-dataTable [style]="{'width': '100%'}" [value]="categories" selectionMode="single" [(selection)]="selected"
        [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5" [rowsPerPageOptions]="[15,30,50,100]" 
        [globalFilter]="gb" #dt>
        <p-column field="categoryId" header="Id" [style]="{'width':'100px'}" [sortable]="true"></p-column>
        <p-column field="categoryName" header="Name" [sortable]="true"></p-column>
        <p-column field="isPrimary" header="Primary" [sortable]="true"></p-column>
    </p-dataTable>

    <p-dialog header="Category" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="dataform">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="selected">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label>Id</label></div>
                <div class="ui-grid-col-8">{{selected.categoryId}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="name">Name</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="name" [(ngModel)]="selected.categoryName"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
                        <i class="fa fa-close"></i> Name is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="isPrimary">Primary</label></div>
                <div class="ui-grid-col-8"><p-inputSwitch onLabel="Yes" offLabel="No" formControlName="isPrimary" [(ngModel)]="selected.isPrimary"></p-inputSwitch></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-8"></div>
                <div class="ui-grid-col-4">
                    <button type="button" pButton icon="fa-save" (click)="saveClick()" label="Save" [disabled]="!dataform.valid"></button>
                </div>
            </div>
        </div>
    </form>
    </p-dialog>
</div>