<div class="container-fluid">

    <h2>Categories</h2>
    <div class="global-search">
        <i class="fa fa-search"></i>
        <input #gb type="text" placeholder="Global search" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <p>List of categories: {{totalRecords}}</p>
    <hr />

    <p *ngIf="!categories"><em>Loading...</em></p>

    <p-dataTable [style]="{'width': '100%'}" [value]="categories" selectionMode="none"
        [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5" [rowsPerPageOptions]="[15,30,50,100]" 
        [globalFilter]="gb" resizableColumns="true" columnResizeMode="expand" #dt>
        <p-column field="categoryId" header="Id" [style]="{'width':'100px'}" [sortable]="true"></p-column>
        <p-column field="categoryName" header="Name" [sortable]="true"></p-column>
        <p-column field="isPrimary" header="Primary" [sortable]="true"></p-column>
        <p-column [style]="{'width':'50px'}">
            <template pTemplate="header">
                <button type="button" pButton (click)="addClick()" icon="fa-plus-circle"></button>
            </template>
            <template let-data="rowData" pTemplate="body">
                <button type="button" pButton (click)="editClick(data)" icon="fa-edit"></button>
            </template>
        </p-column>
    </p-dataTable>

    <p-dialog header="Category" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="dataform">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="selected">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="id">Id</label></div>
                <div class="ui-grid-col-8">{{selected.categoryId}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="name">Name</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="name" [(ngModel)]="selected.categoryName"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
                        <i class="fa fa-close"></i> Name is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="isPrimary">Primary</label></div>
                <div class="ui-grid-col-8"><p-inputSwitch onLabel="Yes" offLabel="No" formControlName="isPrimary" [(ngModel)]="selected.isPrimary"></p-inputSwitch></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <button *ngIf="!isNew" type="button" pButton icon="fa-trash" class="ui-button-danger" (click)="deleteClick()" label="Delete"></button>
                </div>
                <div class="ui-grid-col-4"></div>
                <div class="ui-grid-col-4">
                    <button type="button" pButton icon="fa-save" (click)="saveClick()" label="Save" [disabled]="!dataform.valid"></button>
                </div>
            </div>
        </div>
    </form>
    </p-dialog>
</div>