<p-growl [value]="msgs"></p-growl>
<p-confirmDialog width="425"></p-confirmDialog>

<h1>Publish</h1>

<h4 *ngIf="codartinfo">{{codartinfo.name}}</h4>

<p-steps [model]="items" [(activeIndex)]="activeIndex" styleClass="steps-custom" [readonly]="false"></p-steps>

<div class="steps-container">

    <div *ngIf="activeIndex===0">
        <div class="steps-status" *ngIf="codartinfo">
            <i class="fa fa-info-circle" style="margin:4px 4px 0 0"></i>
            {{ecommerceRepository.step1}}
        </div>
        <p-panel header="Translate Categories">
            <table class='table' cellpadding="2" cellspacing="2" *ngIf="codartinfo">
                <thead>
                    <tr>
                        <td align="center"><strong>Catgory</strong></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center">{{codartinfo.category.id}}</td>
                        <td align="center">{{codartinfo.category.desc}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center"><strong>Country</strong></td>
                        <td align="center"><strong>Translate</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center"><p-dropdown [options]="countries" [(ngModel)]="translateCategory.code"></p-dropdown></td>
                        <td align="center"><input type="text" pInputText class="inputtext" [(ngModel)]="translateCategory.value"/></td>
                        <td><button type="button" pButton (click)="addTranslateClick(translateCategory,'category')" icon="fa-plus-circle"></button></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of codartinfo.category.translates">
                        <td align="center">{{item.code === "EN" ? 'English' : 'Italian'}}</td>
                        <td align="center"><input type="text" pInputText class="inputtext" [(ngModel)]="item.value"/></td>
                        <td>
                            <button type="button" pButton (click)="updateTranslateClick(item)" icon="fa-save"></button>
                            <button type="button" pButton (click)="deleteTranslateClick(item,'category')" icon="fa-trash"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <table class='table' cellpadding="2" cellspacing="2" *ngIf="codartinfo">
                <thead>
                    <tr>
                        <td align="center"><strong>Subcategory</strong></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center">{{codartinfo.subcategory.id}}</td>
                        <td align="center">{{codartinfo.subcategory.desc}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center"><strong>Country</strong></td>
                        <td align="center"><strong>Translate</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center"><p-dropdown [options]="countries" [(ngModel)]="translateSubcategory.code"></p-dropdown></td>
                        <td align="center"><input type="text" pInputText class="inputtext" [(ngModel)]="translateSubcategory.value"/></td>
                        <td><button type="button" pButton (click)="addTranslateClick(translateSubcategory,'category')" icon="fa-plus-circle"></button></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of codartinfo.subcategory.translates">
                        <td align="center">{{item.code === "EN" ? 'English' : 'Italian'}}</td>
                        <td align="center"><input type="text" pInputText class="inputtext" [(ngModel)]="item.value"/></td>
                        <td>
                            <button type="button" pButton (click)="updateTranslateClick(item)" icon="fa-save"></button>
                            <button type="button" pButton (click)="deleteTranslateClick(item,'category')" icon="fa-trash"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </p-panel>    
    </div>

    <div *ngIf="activeIndex===1">
        <span class="steps-status" *ngIf="codartinfo">
            <i class="fa fa-info-circle" style="margin:4px 4px 0 0"></i>
            {{ecommerceRepository.step2}}
        </span>
        <p-panel header="Translate Description">
            <table class='table' cellpadding="2" cellspacing="2" *ngIf="codartinfo">
                <thead>
                    <tr>
                        <td align="center"><strong>Description</strong></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center">{{codartinfo.id}}</td>
                        <td align="center">{{codartinfo.desc}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center"><strong>Country</strong></td>
                        <td align="center"><strong>Translate</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center"><p-dropdown [options]="countries" [(ngModel)]="translateDescription.code"></p-dropdown></td>
                        <td align="center"><textarea pInputTextarea class="inputtext" [(ngModel)]="translateDescription.value"></textarea></td>
                        <td><button type="button" pButton (click)="addTranslateClick(translateDescription,'description')" icon="fa-plus-circle"></button></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ecommerceRepository.translateDescriptions">
                        <td align="center">{{item.code === "EN" ? 'English' : 'Italian'}}</td>
                        <td align="center"><textarea pInputTextarea class="inputtext" [(ngModel)]="item.value"></textarea></td>
                        <td>
                            <button type="button" pButton (click)="updateTranslateClick(item)" icon="fa-save"></button>
                            <button type="button" pButton (click)="deleteTranslateClick(item,'description')" icon="fa-trash"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </p-panel>
    </div>

    <div *ngIf="activeIndex===2">
        <span class="steps-status" *ngIf="codartinfo">
            <i class="fa fa-info-circle" style="margin:4px 4px 0 0"></i>
            Optional
        </span>
        <p-panel header="Translate Attributes">
            <table class='table' cellpadding="2" cellspacing="2" *ngIf="codartinfo">
                <thead>
                    <tr>
                        <td align="center"><strong>Country</strong></td>
                        <td align="center"><strong>Key</strong></td>
                        <td align="center"><strong>Translate</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center"><p-dropdown [options]="countries" [(ngModel)]="translateAttribute.code"></p-dropdown></td>
                        <td align="center"><p-dropdown [options]="attributes" [(ngModel)]="translateAttribute.key"></p-dropdown></td>
                        <td align="center"><input type="text" pInputText class="inputtext" [(ngModel)]="translateAttribute.value"/></td>
                        <td><button type="button" pButton (click)="addTranslateClick(translateAttribute,'attribute')" icon="fa-plus-circle"></button></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ecommerceRepository.translateAttributes">
                        <td align="center">{{item.code === "EN" ? 'English' : 'Italian'}}</td>
                        <td align="center">{{item.key}}</td>
                        <td align="center"><input type="text" pInputText class="inputtext" [(ngModel)]="item.value"/></td>
                        <td>
                            <button type="button" pButton (click)="updateTranslateClick(item)" icon="fa-save"></button>
                            <button type="button" pButton (click)="deleteTranslateClick(item,'attribute')" icon="fa-trash"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </p-panel>   
    </div>

    <div *ngIf="activeIndex===3">
        <span class="steps-status" *ngIf="codartinfo">
            <i class="fa fa-info-circle" style="margin:4px 4px 0 0"></i>
            {{ecommerceRepository.step4}}
        </span>
        <p-carousel headerText="Images" [value]="codartinfo.medias">
            <template let-media>
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12"><img src="{{media.url}}" height="240px" width="100%" (click)="selectMedia(media.url);"/></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <button type="button" pButton icon="fa-trash" style="margin-right: 30px" (click)="deleteMediaClick(media)"></button>
                            <span>N°</span>
                            <p-spinner size="5" [(ngModel)]="media.number"></p-spinner>
                            <button type="button" pButton icon="fa-save" style="margin-left: 10px" (click)="updateMediaClick(media)"></button>
                        </div>
                    </div>
                </div>
            </template>
        </p-carousel>
        
        <p-fileUpload name="files" url="/api/media" multiple="multiple" accept="image/*" maxFileSize="1000000" 
            (onBeforeUpload)="onBeforeUpload($event)" (onUpload)="onUpload($event)"></p-fileUpload>

        <p-panel header="{{selectedMedia}}">
            <img src="{{selectedMedia}}" width="100%" *ngIf="selectedMedia"/>
        </p-panel>
  </div>

  <div *ngIf="activeIndex===4">
      <span class="steps-status" *ngIf="codartinfo">
            <i class="fa fa-info-circle" style="margin:4px 4px 0 0"></i>
            {{status}}
        </span>
      <p-panel header="Publish in the store">
        <div style="padding: 30px">
            <p>
                <strong>Featured</strong>
                <br/>
                <p-inputSwitch [(ngModel)]="codartinfo.featured" (onChange)="handleFeaturedChange($event)"></p-inputSwitch>
            </p>
            <br/>
            <p>
                <strong>Published</strong>
                <br/>
                <p-inputSwitch [(ngModel)]="ecommerceRepository.published" (onChange)="handlePublishedChange($event)"></p-inputSwitch>
            </p>
        </div>
      </p-panel>
  </div>

</div>