<p-dataTable *ngIf="isOpen" [responsive]="true" [value]="products | priceFilter:sliderValue | categoryFilter:categoryValue" 
    selectionMode="single" (onRowSelect)="onRowSelect($event)"
    rowExpandMode="single" expandableRows="true" (onRowExpand)="onRowExpand($event)"
    [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [pageLinks]="5" #dt>
    <p-header>
        <div class="ui-helper-clearfix" style="text-align: left">
            <span style="font-size:20px;display:inline-block;margin-top:3px"><b>Article picker</b></span>
            <button pButton type="button" label="Close" (click)="hidePickerClick()" style="float: right" class="ui-button-secondary" icon="fa-close"></button>
        </div>
    </p-header>
    <p-column field="productCode" header="Code" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="productName" header="Name" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="brand.brandName" header="Brand" [sortable]="true" [filter]="true" filterMatchMode="equals" [style]="{'overflow':'visible'}" >
        <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="brands" [filter]="true" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
    </p-column>     
    <p-column header="Categories" [sortable]="true" [filter]="true" [style]="{'overflow':'visible'}" >
        <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="categories" [filter]="true" [style]="{'width':'100%'}" [(ngModel)]="categoryValue" styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
        <ng-template let-col let-data="rowData" pTemplate="body">
            <li *ngFor="let item of data.categories"> {{ item.category.categoryName }} </li>
        </ng-template>
    </p-column>
    <p-column header="Price ({{sliderValue||'No Filter'}})" [sortable]="true" [filter]="true" [style]="{'overflow':'visible'}" >
        <ng-template pTemplate="filter" let-col>
            <i class="fa fa-close" (click)="sliderValue=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
            <p-slider [style]="{'margin-top':'14px','margin-bottom':'5px'}" [(ngModel)]="sliderValue" [min]="5" [max]="1000"></p-slider>
        </ng-template>
        <ng-template let-col let-data="rowData" pTemplate="body">
            <div *ngIf="data.discount;then discount_content else price_content"></div>
            <ng-template #discount_content>
                <span class="percentage">-{{data.discount.discountPercentage}}%</span>
                <del>{{data.productSellingPrice | currency: 'EUR' : true}}</del><br><strong>{{data.discount.discountPrice | currency: 'EUR' : true}}</strong>
            </ng-template>
            <ng-template #price_content>
                {{data.productSellingPrice | currency: 'EUR' : true}}
            </ng-template>
        </ng-template>
    </p-column>
    <ng-template pTemplate="rowexpansion">
        <div style="text-align: center">
            <img *ngIf="!articleForm" src="/assets/loading.gif" width="200px">
            <table *ngIf="articleForm" class="table" cellpadding="2" cellspacing="2">    
                <tr> 
                    <td *ngFor="let h of articleForm.header" align="center" style="background-color: whitesmoke"><strong>{{h}}</strong></td> 
                </tr> 
                <tbody> 
                    <tr *ngFor="let item of articleForm.body"> 
                        <td *ngFor="let col of item" align="center"> 
                            <span *ngIf="col.id===0">{{col.value}}</span>
                            <input *ngIf="col.id>0" pInputText type="number" min="0" [(ngModel)]="col.data" style="width: 100%" tooltipPosition="left" pTooltip="{{col.value}} : {{col.stock}} - {{col.booked}}"/>
                        </td> 
                    </tr> 
                </tbody>
            </table>
            <button pButton label="Pickup" type="button" (click)="pickerClick()" class="ui-button-primary" icon="fa-reply-all"></button>
        </div>
    </ng-template>
</p-dataTable>