<p-confirmDialog header="Confirmation delete on cascade" icon="fa-trash-o" [responsive]="true"></p-confirmDialog>

<div class="container-fluid">
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <h2>Brands</h2>
        </div>
        <div class="ui-toolbar-group-right">
            <p *ngIf="brands" style="padding-top: 30px">{{totalRecords}} items</p>
            <img *ngIf="!brands" src="assets/loading.gif" height="60">
        </div>
    </p-toolbar>
    
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" title="Add" (click)="addClick()" class="ui-button-primary" icon="fa-plus"></button>
            <button pButton type="button" title="Edit" (click)="editClick()" class="ui-button-primary" icon="fa-edit"></button>
            <button pButton type="button" title="Delete" (click)="deleteClick()" class="ui-button-danger" icon="fa-trash-o"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <i class="fa fa-search"></i>
            <input #gb type="text" placeholder="Global search" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
        </div>
    </p-toolbar>

    <p-dataTable [style]="{'width': '100%'}" [value]="brands" selectionMode="single" [(selection)]="selected"
        [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5" [rowsPerPageOptions]="[15,30,50,100]" 
        [globalFilter]="gb" #dt>
        <p-column field="brandId" header="Id" [style]="{'width':'100px'}" [sortable]="true"></p-column>
        <p-column field="brandName" header="Name" [sortable]="true"></p-column>
    </p-dataTable>

    <p-dialog header="Brand" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="dataform">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="selected">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label>Id</label></div>
                <div class="ui-grid-col-8">{{selected.brandId}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="name">Name</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText formControlName="name" [(ngModel)]="selected.brandName"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
                        <i class="fa fa-close"></i> Name is required
                    </div>
               </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-8"></div>
                <div class="ui-grid-col-4">
                    <button type="button" pButton icon="fa-save" (click)="saveClick()" label="Save" [disabled]="!dataform.valid"></button>
                </div>
            </div>
        </div>
    </form>
    </p-dialog>

</div>