<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>Your information</ng-template>
        <app-account [isCheckout]="true" #account></app-account>
        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Shipping and Payment</ng-template>
        <p>Items: <b>{{count}}</b></p>
        <p>Amount: <b>{{amount | currencyFormat}}</b></p>
        <p>Shipping cost: <b>{{shippingCost | currencyFormat}}</b></p>
        <h3>Total: {{(shippingCost + amount) | currencyFormat}}</h3>
        <br/>
        <p><span>Select the shipping method:</span></p>
        <mat-radio-group [(ngModel)]="shippingMethod" (change)="shippingClick($event)">
            <p *ngFor="let shipping of shippings"><mat-radio-button value="{{shipping.id}}"><b>{{shipping.value}}</b></mat-radio-button></p>
        </mat-radio-group>
        <br/>
        <p><span>Select the payment method:</span></p>
        <mat-radio-group [(ngModel)]="paymentMethod" (change)="paymentClick($event)">
            <p *ngFor="let paymant of payments"><mat-radio-button value="{{paymant.id}}"><b>{{paymant.value}}</b></mat-radio-button></p>
        </mat-radio-group>
        <br/>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <h3>If the information is complete you can proceed with the order</h3>
        <p>Account: <i class="material-icons">verified_user</i> <b>{{customer}}</b></p>
        <p>Shipping: <i class="material-icons">{{isValidShipping ? 'verified_user' : 'error'}}</i> <b>{{shipping}}</b></p>
        <p>Payment: <i class="material-icons">{{isValidPayment ? 'verified_user' : 'error'}}</i> <b>{{payment}}</b></p>
        <br/>
        <h3>Total: {{(shippingCost + amount) | currencyFormat}}</h3>
        <br/>
        <button *ngIf="paymentMethod!=='PayPal'" mat-raised-button color="accent" [disabled]="!isValidAccount||!isValidPayment" (click)="confirmClick()"><mat-icon>check_circle</mat-icon> Checkout</button>
        <br/>
        <div id="paypal-container"></div>
        <br/>
        <div>
        <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>