html {
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding-top: 140px;
}

.navigationLinkButton:hover {
  cursor: pointer;
}

.brand {
  color: #604b20;
  text-decoration: none;
}

.brand:hover{
  color: #000;
  text-decoration: none; 
}

.footer {
  padding: 40px;
  color: #ccc;
  text-align: center;
  font-size: small;
}

.nav li a i {
  margin-right: 10px;
}

.loading {
  position: absolute;
  top: 10px;
  right: 40px;
  height: 50px;
  z-index: 10000;
}

.percentage {
  float: right;
  height: 10px;
}

.ui-growl {
  margin-top: 120px;
  z-index: 100000;
}

body .ui-widget-header {
  border: 0;
  background-color: transparent;
  padding: 10px 0;
}

body .ui-toolbar-group-right button,
body .ui-toolbar-group-right i {
  margin-left: 10px;
}

.ui-widget-content {
  border: 1px solid #eee !important;
}

.ui-widget {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ui-button {
  padding: 2px;
}
.ui-button-text {
  font-size: medium;
}

.ui-fluid .ui-button-text-icon-left .ui-button-text, .ui-fluid .ui-button-text-icon-right .ui-button-text {
  padding-left: 2em;
}

.ui-datatable {
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.ui-datatable .ui-datatable-thead > tr > th {
  border-style: none !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.ui-datatable .ui-datatable-data > tr > td {
  border-color: #eee;
  border-style: solid;
  border-left-width: 1px;
  padding: 12px 14px;
}

.ui-widget-header .ui-state-highlight {
  background: #604b20;
}

.ui-widget-content {
  color: #1f1f1f;
}

.ui-widget-content .ui-state-highlight {
  background: lightyellow;
  color: #1f1f1f;
}

.ui-panel .ui-panel-content {
    background: #fcfcfc;
}

.ui-steps {
  margin-right: 20px; 
  margin-top: 40px;
}

.ui-steps .ui-steps-item {
  width: 20%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}
  
.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  height: 10px;
  padding: 0 1em;
}
  
.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #ffffff;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

.steps-container {
  margin-right: 20px; 
  padding-top: 50px;
}

.steps-status {
  position: absolute;
  top: 40px;
  right: 40px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: 0081c2;
  color: #ffffff;
  border-radius: 5px;
}

.inputtext {
  width: 100%;
}

.ui-grid-row .ui-grid-col-12 {
  padding: 10px;
}

.noprint {
  margin-top: 10px;
}

@media print {
  body {
    padding-top: 0;
  }
  header nav, footer, .noprint {
    display: none;
  }
  thead { display: table-header-group; }
  tfoot { display: table-footer-group; }
  tbody { display: table-row-group; }
}
